---
layout: project
description: "Künstliche Intelligenz ist nicht länger Zukunftsmusik. Wie unser Projekt „Mit den Augen der Maschine“ zeigt, ist es heute auch mit vergleichsweise geringem Aufwand und wenig Ressourcen möglich, Machine Learning-Anwendungen zu entwickeln und einzusetzen."
lang: de
title: KI Ethik
subtitle: 3 FRAGEN ZUR ETHIK DER KÜNSTLICHEN INTELLIGENZ
type: publication
colorMode: dark
thumbnail: /projects/ki-ai-intro/images/thumbnail.jpg
heroImage: /projects/ki-ai-intro/images/MachineVision2.jpg
visible: false
featured: false
authors:
  - benjamin-seibel
  - fabian-dinklage
  - sebastian-meier
start: 2018-04-07
end: 2018-06-09
status: finished
date: 2018-06-09

assets:
  css:
    - "../styles/index.css"

materialsIncluded:
  - name: "Flyer: Vorhersagen"
    link: "/projects/ki-ai-intro/downloads/LNDW_1.pdf"
  - name: "Flyer: Verkehr"
    link: "/projects/ki-ai-intro/downloads/LNDW_2.pdf"
  - name: "Flyer: Persönlichkeitsrechte"
    link: "/projects/ki-ai-intro/downloads/LNDW_3.pdf"
  - name: "Flyer: Privatsphäre"
    link: "/projects/ki-ai-intro/downloads/LNDW_4.pdf"
  - name: "Flyer: Medizin"
    link: "/projects/ki-ai-intro/downloads/LNDW_5.pdf"
  - name: "Flyer: Barrierefreiheit"
    link: "/projects/ki-ai-intro/downloads/LNDW_6.pdf"
  - name: GitHub
    link: "https://github.com/technologiestiftung/lndw-2018"

redirect_from:
  - /projects/ki-ai-ethics/index.html
  - /projects/ki-ai-ethics/

---

<p>Künstliche Intelligenz ist nicht länger Zukunftsmusik. Wie unser Projekt „Mit den Augen der Maschine“ zeigt, ist es heute auch mit vergleichsweise geringem Aufwand und wenig Ressourcen möglich, Machine Learning-Anwendungen zu entwickeln und einzusetzen. Aber nicht jede Verwendung einer neuen Technologie ist auch gesellschaftlich wünschenswert. Ganz bewusst haben wir in unserem Überblick deshalb auch <a href="../ki-ai-potentials-challenges/index.html">Anwendungsfelder</a> betrachtet, in denen problematische Aspekte der Künstlichen Intelligenz zum Vorschein kommen. </p>

{% include macro-image-section.html src="../images/MachineVision2.jpg" caption="Machine Vision, WebGL/Shader, 2018" %}

<p>Auf die ethischen Herausforderungen der Künstlichen Intelligenz gibt es keine einfachen Antworten. Das liegt zum einen an der Komplexität und Vielschichtigkeit von KI-Szenarien, die potenziell alle Bereiche unseres gesellschaftlichen Zusammenlebens betreffen. Zum anderen aber auch daran, dass die Ethik selbst eine heterogene Disziplin ist, in der verschiedene Ansätze zu teils <a href="https://zellux.net/m.php?tid=43">unterschiedlichen Einschätzungen</a> kommen. Wir wollen uns an dieser Stelle darauf beschränken, die drei in unseren Augen zentralen Fragen vorzustellen, die sich bei der Verwendung Künstlicher Intelligenz stellen. Auf jede dieser Fragen müssen wir Antworten finden, wenn wir diese Technologie zum Nutzen der Gesellschaft einsetzen wollen.</p>

<h3>1.) Die Frage nach der richtigen Verwendung</h3>
<p>Wie nahezu jede Technologie lässt sich auch das maschinelle Lernen zu guten oder schlechten Zwecken einsetzen. Künstliche Intelligenz kann uns helfen, informiertere Entscheidungen zu treffen, sie kann zur Erkennung und Bekämpfung von Krankheiten beitragen oder Menschen mit körperlichen Beeinträchtigungen im Alltag unterstützen. Aber es sind mitunter die gleichen Algorithmen, die auch in Waffensystemen zum Einsatz kommen, die zu umfassender gesellschaftlicher Überwachung und Kontrolle eingesetzt oder zum Instrument diskriminierender Praktiken werden können.</p>
<p>Die Entscheidung über ihre richtige Verwendung nehmen uns die Maschinen nicht ab. Deshalb haben wir es auf dieser Ebene auch gar nicht mit speziell technischen, sondern mit ganz „gewöhnlichen“ ethischen Problemen zu tun: Wenn wir unsere Gesichtserkennungs-Anwendung verwenden würden, um Menschen mit einem bestimmten Aussehen zu diskriminieren, wäre das in der Tat moralisch verwerflich. Das läge dann aber weniger an unserer Anwendung, als vielmehr an der Tatsache, dass eine solche Diskriminierung an sich verwerflich ist. Eine ethisch fragwürdige Entscheidung wird nicht besser oder schlechter, weil sie von einer Maschine getroffen wird. Entsprechend könnte man in einem solchen Szenario auch zurecht fordern, die Urheber (und nicht etwa die zum Einsatz kommenden Algorithmen) verantwortlich zu machen. </p>
<p>Dass eine Technologie <i>auch</i> zu schlechten Zwecken eingesetzt werden kann, ist grundsätzlich kein Argument, diese Technologie in Gänze abzulehnen. Vielmehr müssen wir uns von Fall zu Fall damit befassen, ob bestimmte Zwecksetzungen vertretbar sind oder nicht. Das betrifft übrigens nicht nur die Frage, wo wir den Einsatz Künstlicher Intelligenz aus moralischen Gründen ablehnen. Es sind umgekehrt auch Situationen denkbar, in denen es moralisch falsch sein kann, von neuen technischen Möglichkeiten keinen Gebrauch zu machen: Wenn wir durch Künstliche Intelligenz die Anzahl der Verkehrstoten drastisch reduzieren können, sind wir in der moralischen Pflicht, dies auch zu tun – es sei denn wir finden gewichtige andere Gründe, die dagegen sprechen. Mit anderen Worten:  Wer aus Angst vor dem Neuen lieber erst mal gar nicht handelt, steht deshalb nicht unbedingt auf der richtigen Seite. </p>

{% include macro-image-section.html src="../images/MachineVision3.jpg" caption="Machine Vision, WebGL/Shader, 2018" %}

<h3>2.) Die Frage nach der Gestaltung von KI-Systemen</h3>
<p>Neben der Frage, zu welchen Zwecken wir Künstliche Intelligenz einsetzen, betrifft eine zweite ethische Dimension die konkrete Ausgestaltung von KI-Systemen. Hier haben wir es tatsächlich mit einer im engeren Sinne technikethischen Frage zu tun, weil sie das <i>Wie</i> (und nicht das Wozu) der Gestaltung betrifft. Entsprechend ist es hier unumgänglich, sich mit technischen Details der KI-Programmierung, etwa mit den zum Einsatz kommenden Algorithmen oder den für das maschinelle Lernen verwendeten Trainingsdaten auseinanderzusetzen. </p>
<p>Künstliche Intelligenz trifft Entscheidungen auf Basis von Modellen der Wirklichkeit. Was aber, wenn diese Modelle die Wirklichkeit nicht angemessen wiedergeben? Was, wenn sich problematische Annahmen in Software fortschreiben und verfestigen? In unserem Projekt zur Gesichtserkennung haben wir die Microsoft Azure Face Recognition-API <a href="../ki-ai-making-of/index.html">genutzt</a>. Diese analysiert Fotos von Personen und gibt geschätzte Werte u.a. für Alter, Haarfarbe oder Geschlecht zurück. In der Kategorie „Geschlecht“ sind nur zwei Werte möglich, nämlich „Male“ und „Female“. Nun gibt es bekanntlich Menschen, die sich in dieser binären Kodierung nicht wiederfinden. Für die KI aber kann es diese Menschen nicht geben, weil keine entsprechende Kategorie für sie vorgesehen ist. Das ist ein Problem.</p>
<p>Verändern lassen sich solche vorgegebenen Kategorien oft nur, wenn Zugriff auf die zugrundeliegenden Quellcodes besteht. Das ist häufig nicht der Fall. Ein Großteil der heutigen KI-Forschung findet hinter den Türen großer Tech-Konzerne statt, was der Transparenz nicht unbedingt zuträglich ist. Aber auch bei Open Source-Frameworks, etwa bei Googles <a href="https://github.com/tensorflow/tensorflow">Tensorflow</a>, bleibt das Problem aufgrund der schieren Komplexität der Anwendungen bestehen. Selbst die Entwickler*innen können beim maschinellen „Deep Learning“ nicht mehr unbedingt nachvollziehen, wie die Maschine ihre Entscheidungen trifft. Das Aufspüren von problematischen Kategorisierungen oder falschen Schlussfolgerungen wird so erschwert oder gar verunmöglicht.</p>
<p>Noch vor der Frage, nach welchen Wertvorstellungen wir konkrete Systeme gestalten wollen, liegt die technikethische Herausforderung der KI also darin, überhaupt eine <i>Nachvollziehbarkeit</i> maschineller Entscheidungen zu gewährleisten. Eine solche ist die Grundlage, auf der eine gesellschaftliche Kontrolle von KI-Entscheidungen überhaupt erst möglich wird. Wichtig wäre, dass eine solche „Accountability“ nicht nur wenigen Expert*innen vorbehalten bleibt. Das von den MIT-Forschern Iyad Rahwan und Joi Ito vertretene Konzept einer <a href="https://medium.com/mit-media-lab/society-in-the-loop-54ffd71cd802">„Society in the Loop“</a> weist in diese Richtung, wenn es heißt:  „We need to build new tools to enable society to program, debug, and monitor the algorithmic social contract between humans and governance algorithms.“ Nur wenn wir verstehen, warum die Maschine so oder so entscheidet, sind wir in der Lage, uns zu dieser Entscheidung auch sinnvoll zu verhalten. </p>

{% include macro-image-section.html src="../images/MachineVision.jpg" caption="Machine Vision, WebGL/Shader, 2018" %}

<h3>3.) Die Frage nach der Beziehung von Mensch und Maschine</h3>
<p>Nicht zuletzt ergeben sich ethische Herausforderungen auch daraus, dass Künstliche Intelligenz unser menschliches Selbstverständnis in Frage stellt. Das klingt zunächst etwas abstrakt, hat aber ganz reale Auswirkungen auf die Debatte um KI. Wenn etwa in der Öffentlichkeit darüber diskutiert wird, ob Maschinen uns bald die Jobs wegnehmen, den dritten Weltkrieg beginnen oder gar die Menschheit <a href="https://www.independent.co.uk/life-style/gadgets-and-tech/news/stephen-hawking-artificial-intelligence-could-wipe-out-humanity-when-it-gets-too-clever-as-humans-a6686496.html">in Gänze vernichten könnten</a>, dann verrät das wohl mehr über unsere eigene Verunsicherung als über den tatsächlichen Stand der KI-Entwicklung.</p>
<p>Diese Verunsicherung rührt daher, dass durch Künstliche Intelligenz bestimmte Tätigkeiten automatisierbar werden, die traditionell dem Menschen vorbehalten waren. Über Jahrhunderte wurden der Umgang mit Sprache oder die Fähigkeit zur Abstraktion als spezifisch menschliche Eigenschaften verstanden. Heute machen uns neuronale Netze diese Kompetenzen streitig, und schneiden sogar in herkömmlichen IQ-Tests <a href="https://www.technologyreview.com/s/538431/deep-learning-machine-beats-humans-in-iq-test/">besser ab</a>. Müssen wir uns also Sorgen machen, dass die Maschinen uns bald in sämtlichen Bereichen übertrumpfen, bis wir schließlich gänzlich überflüssig werden, ein bloßes Anhängsel einer übermächtigen Maschinenintelligenz?</p>
<p>Zum gegenwärtigen Zeitpunkt sind solche Sorgen eher unbegründet. Zwar sind KI-Systeme erstaunlich effizient bei der Lösung spezifischer, teils durchaus komplexer Probleme. Ansonsten sind sie aber vor allem: erstaunlich dumm. Jedes Gespräch mit einem dreijährigen Kind ist interessanter als eine Konversation mit Siri, und vieles deutet darauf hin, dass das noch eine ganze Weile so bleiben wird. Denn vielleicht zeigt sich gerade, dass es eben nicht Sprache, Logik oder Abstraktion sind, die uns Menschen besonders machen, sondern ganz andere, schwerer automatisierbare Eigenschaften wie Intuition, Empathie, Selbstreflexion oder „emotionale Intelligenz“?</p>
<p>Die tiefgreifendste ethische Herausforderung wird es am Ende vielleicht sein, dass auch wir als Menschen uns im Lichte der Künstlichen Intelligenz neu erfinden müssen. Nur wenn wir unsere spezifisch menschlichen Qualitäten besser verstehen, können wir die Potenziale der Technik in unserem Sinne nutzen. Wer Differenzen von Mensch und Maschine vorschnell einebnet, läuft hingegen Gefahr, durch den Einsatz Künstlicher Intelligenz, nicht klüger, sondern <a href="https://nplusonemag.com/issue-13/essays/stupidity-of-computers/">dümmer zu werden</a>. Wir sollten die Augen der Maschine nicht vorschnell zu unseren machen.</p>

<h3 style="padding-top:50px;">Übersicht:</h3>

<div class="table-of-content-wrapper pt-20">
  <div class="content-wrapper">
    <img src="../images/icon-content-01.png" alt="">
    <a href="./index.html"><span>KI Intro</span></a>
</div>
<div class="content-wrapper">
        <img src="../images/icon-content-02.png" alt="">
        <a href="./potentials-challenges.html"><span>KI-Szenarien (Infosheets zur LNDW)</span></a>
    </div>
    <div class="content-wrapper">
        <img src="../images/icon-content-03.png" alt="">
        <a href="./making-of.html"><span>Making of (Interview)</span></a>
    </div>
</div>
