.data-table {
    border: $border-width solid red;
    display: flex;
    font-size: $font-size-s;
    flex-direction: column;

    &__row {
        background-color: $white;
        border: $border-width solid yellow;
        border-bottom: 1px solid $light-gray;
        color: $black;
        display: flex;
        flex-direction: row;
        height: 75px;
        padding: 0 $spacing-page-m;
        text-align: left;
        transition: background-color $time-s;

        &:hover {
            background-color: $light-gray--lighter;
        }

        &-cell {
            border: $border-width solid blue;
            align-items: center;
            display: inline-flex;
            flex: 1;

            &:first-of-type {
                font-size: $font-size-l;
                font-weight: bold;
            }

            &--thumbnail {
                flex-flow: column nowrap;
            }

            &__image {
                height: 100%;
                max-height: 100%;
                width: auto;
            }
        }

        &--header {
            height: 45px;
            pointer-events: none;

            .data-table__row-cell {
                color: $gray;
                padding: $spacing-xs 0;
                text-transform: capitalize;

                &:first-of-type {
                    font-size: $font-size-s;
                    font-weight: normal;
                }
            }
        }
    }
}
