.project {
    margin-top: 0;

    &-header {
        border: $border-width solid palevioletred;
        margin: 0 0 $spacing-xl 0;

        &__hero {
            border: $border-width solid red;
            margin: 0 0 $spacing-m 0;
            overflow: hidden;
            position: relative;
            height: 75vh;

            &-image {
                border: $border-width solid gray;
                display: block;
                max-height: 100%;
                height: 100%;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .link--button {
                bottom: 0;
                left: $spacing-page-m;
                position: absolute;
            }
        }

        &__title {
            border: $border-width solid green;
            display: flex;
            flex-direction: row;
            padding: 0 $spacing-page-m;

            &--main {
                border: $border-width solid yellow;
                flex: 1;
                font-size: $font-size-xl;
                font-weight: bold;
            }
            &--sub {
                border: $border-width solid orange;
                flex: 1;
                font-size: $font-size-ll;
            }
        }
        &__meta {
            border: $border-width solid green;
            display: flex;
            padding: 0 $spacing-page-m;
            text-transform: capitalize;

            &-column {
                border: $border-width solid orange;
                display: flex;
                line-height: $line-height-list;
                flex: 1;
                flex-direction: column;

                &__header {
                    font-weight: bold;
                }
                &__item {
                    border: $border-width solid red;
                    align-self: flex-start;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &-text {
        padding: 0 $spacing-page-m;

        &.columns {
            padding: 0;

            h3 {
                padding-right: $spacing-column--half;
                width: 50%;
            }
            p {
                column-count: 2;
                column-gap: $spacing-column;
            }
        }
    }

    &-image {
        img {
            display: block;
            max-width: 100%;
            width: 100%;
        }
    }

    &-columns {
        display: grid;
        grid-gap: $spacing-column;
        grid-template-columns: 1fr 1fr;
        position: relative;

        &:not(.slider) {
            & > div {
                border: $border-width solid red;
                order: 2;

                &:first-of-type {
                    border: $border-width solid green;
                    order: 1;
                    padding: 0 0 0 $spacing-page-m;
                }
            }
            & > img {
                align-self: flex-start;
                border: $border-width solid green;
                max-height: 100%;
            }
        }

        .tns {
            &-controls {
                border: $border-width solid red;
                bottom: 0;
                left: $spacing-page-m;
                // margin-left: $spacing-column--half;
                outline: none;
                padding: 0;
                position: absolute;
                user-select: none;
                white-space: nowrap;

                button {
                    color: $black;
                    background: none;
                    border: none;
                    font-size: $font-size-ll;
                    transition: color $time-s;
                }

                &-counter {
                    border: $border-width solid blue;
                    height: 100%;
                    letter-spacing: 0.1em;
                    line-height: 1.5em;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translateX(150%);
                }
            }
        }

        &.reversed {
            &:not(.slider) {
                & > div {
                    border: $border-width solid red;
                    order: 1;
                    // padding: 0 $spacing-column--half 0 $spacing-page-m;

                    &:first-of-type {
                        border: $border-width solid green;
                        margin: 0 0 0 0;
                        order: 2;
                        padding: 0 $spacing-page-m 0 0;
                    }
                }
            }

            .tns {
                &-controls {
                    left: $spacing-column--half;
                    margin: 0 0 0 50%;
                    padding: 0;
                    right: auto;
                }
            }
        }
    }

    &--publication {
        a:not(.link--button) {
            &::after {
                background-color: $color-publication;
            }
            &:hover {
                color: $color-publication;
            }
        }
        .project-header__meta-column__item {
            &::after {
                background-color: $color-publication;
            }
        }
        .tns {
            &-controls {
                button {
                    &:hover {
                        color: $color-publication;
                    }
                }
            }
        }

        ::selection {
            background: rgba($color-publication, 0.25);
        }
    }
    &--prototype {
        a:not(.link--button) {
            &::after {
                background-color: $color-prototype;
            }
            &:hover {
                color: $color-prototype;
            }
        }
        .project-header__meta-column__item {
            &::after {
                background-color: $color-prototype;
            }
        }
        .tns {
            &-controls {
                button {
                    &:hover {
                        color: $color-prototype;
                    }
                }
            }
        }

        ::selection {
            background: rgba($color-prototype, 0.25);
        }
    }
    &--workshop {
        a:not(.link--button) {
            &::after {
                background-color: $color-workshop;
            }
            &:hover {
                color: $color-workshop;
            }
        }
        .project-header__meta-column__item {
            &::after {
                background-color: $color-workshop;
            }
        }
        .tns {
            &-controls {
                button {
                    &:hover {
                        color: $color-workshop;
                    }
                }
            }
        }

        ::selection {
            background: rgba($color-workshop, 0.25);
        }
    }
    &--dataset {
        a:not(.link--button) {
            &::after {
                background-color: $color-dataset;
            }
            &:hover {
                color: $color-dataset;
            }
        }
        .project-header__meta-column__item {
            &::after {
                background-color: $color-dataset;
            }
        }
        .tns {
            &-controls {
                button {
                    &:hover {
                        color: $color-dataset;
                    }
                }
            }
        }

        ::selection {
            background: rgba($color-dataset, 0.25);
        }
    }

    a:not(.link--button) {
        border: $border-width solid yellow;
        display: inline-block;
        line-height: $line-height-text;
        position: relative;
        transition: color $time-s;

        &::after {
            backface-visibility: hidden;
            bottom: 0;
            content: '';
            height: $link-stroke-width;
            left: 0;
            position: absolute;
            transform: scaleX(1) translateZ(0);
            transform-origin: left center;
            transition: transform $time-s;
            width: 100%;
        }

        &:hover {
            &::after {
                transform: scaleX(0.9) translateZ(0);
            }
        }
    }

    h1,
    h2,
    h3 {
        color: $black;
        font-family: 'plex-sans';
        text-transform: none;
    }

    h3 {
        font-size: $font-size-ll;
        font-weight: bold;
        margin: 0 0 $spacing-m 0;
    }

    blockquote {
        border: $border-width solid yellow;
        font-size: $font-size-s;
        margin: 0;
        padding: 0 $spacing-page-m;

        p {
            font-size: $font-size-ll;
            font-style: italic;
            margin-bottom: $spacing-s;
        }
    }

    figure {
        border: $border-width solid yellow;
        margin: 0;
        text-align: center;

        figcaption {
            margin-top: $spacing-s;
        }

        img {
            display: block;
            margin: 0 auto;
            max-height: 75vh;
            max-width: 100%;
        }
    }
}
