<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ pagename | capitalize }} | {{ title }}</title>
        <link rel="stylesheet" href="../styles/index.css" />
    </head>
    <body>
        {{ pagename }}
        {# Navigation #}
        {% include "partials/navigation.html" %}

        {# Page specific content #}
        {% block header %} {% endblock %}
        {% block main %} {% endblock %}

        {# Footer #}
        {% include "partials/footer.html" %}

        <script src="../js/index.js"></script>
    </body>
</html>
