<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ pagename }}</title>
        {# Global styles #}
        <link rel="stylesheet" href="../../styles/index.css" />
        {# Project specific styles #}
        <link rel="stylesheet" href="../../styles/{{ pagename }}/styles/index.css" />
    </head>
    <body>
        {# Navigation #}
        {% include "partials/navigation.html" %}

        {% for project in projects %}
        {% if pagename === project.title %}

        <main class="project project--{{ project.type }}">

        {# Project header #}
        {% include "partials/project/header.html" %}
        {# Project content #}
        {% block projectContent %} {% endblock %}

        </main>

        {% endif %}
        {% endfor %}

        {# Footer #}
        {% include "partials/footer.html" %}

        <script src="../js/index.js"></script>
    </body>
</html>
