<!DOCTYPE html>
{% from "macros/utils.html" import link, image, codeSnippet %}
{% from "macros/projectMacros.html" import text, textColumn, imageColumn, blockquote %}

{% set pagename = projects[projectIndexHelper].title %}

<html lang="{{ language }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ pagename | title }}</title>
        {# Global styles #}
        <link rel="stylesheet" type="text/css" type="text/css" href="../../../styles/index.css" />
        {# Project specific styles #}
        <link rel="stylesheet" type="text/css" type="text/css" href="../../../styles/{{ pagename }}/styles/index.css" />

        <link rel="stylesheet" type="text/css" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.8/tiny-slider.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.8/min/tiny-slider.js"></script>
    </head>
    <body>
        {# Navigation #}
        {% include "partials/navigation.html" %}

        {% for project in projects %}
        {% if pagename | lower === project.title | lower %}

        <main class="project project--{{ project.type }} loading">

        {# Project header #}
        {% include "partials/project/header.html" %}

        {# Project content #}
        Main content of project: <strong>{{ pagename }}</strong>
        {% block projectContent %} {% endblock %}

        </main>

        {% endif %}
        {% endfor %}

        {# Footer #}
        {% include "partials/footer.html" %}

        {# Main script #}
        <script src="../../../js/index.js"></script>
        {# Project specific script #}
        {# <script src="../../js/{{ pagename }}/index.js"></script> #}
    </body>
</html>
