<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ pagename | capitalize }}</title>
        {# Global styles #}
        <link rel="stylesheet" type="text/css" href="../../styles/index.css" />
        {# Project specific styles #}
        <link
            rel="stylesheet"
            type="text/css"
            href="../../styles/{{ pagename }}/styles/index.css"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.8/tiny-slider.css"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.8/min/tiny-slider.js"></script>
    </head>
    <body>
        {# Navigation #} {% include "partials/navigation.html" %}

        <main class="loading">
            <section class="team-detail">
                <div class="team-detail__image">
                    <img src="{{ image }}" alt="{{ name }}" />
                    <div>{{ mail }}</div>
                </div>
                <div class="team-detail__description">
                    Helloooo I'm {{ type }}
                    <div class="team-detail__description--name">{{ name }}</div>
                    <div class="team-detail__description--position">
                        {{ position }}
                    </div>
                    <div class="team-detail__description--text">
                        {{ description }}
                    </div>
                </div>
            </section>
        </main>

        {# Footer #} {% include "partials/footer.html" %} {# Main script #}
        <script src="../../js/index.js"></script>
        {# Project specific script #}
        <script src="../../js/{{ pagename }}/index.js"></script>
    </body>
</html>
