<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Team | {{ name }}</title>
        {# Favicon #}
        {% include "partials/favicon-links.html" %}
        {# Global styles #}
        <link rel="stylesheet" type="text/css" href="../../styles/index.css" />
    </head>
    <body>
        {# Navigation #}
        {% include "partials/navigation.html" %}

        <main class="loading">
            <section class="team-detail">
                <div class="team-detail__image">
                    <img src="{{ image }}" alt="{{ name }}" />
                    
                    <div class="team-detail__social">
                        {% if twitter %}
                         <a class="team-detail__social--twitter" href="{{ twitter }}" target="_blank">
                            <img class="navigation-icon--twitter" src="../../../assets/icons/twitter-icon.svg" alt="Twitter" />
                        </a>
                        {% endif %}
                        {% if github %}
                        <a class="team-detail__social--github" href="{{ github }}" target="_blank">
                            <img class="navigation-icon--github" src="../../../assets/icons/github-icon.svg" alt="Github" />
                        </a>
                        {% endif %}
                       
                        <a class="team-detail__social--mail" href="mailto:{{ mail }}">{{ mail }}</a>
                    </div>
                </div>
                <div class="team-detail__description">
                    <div class="team-detail__description--name">{{ name }}</div>
                    <div class="team-detail__description--position">
                        {{ position }}
                    </div>
                    <div class="team-detail__description--text">
                        {{ description }}
                    </div>
                </div>
            </section>
        </main>

        {# Footer #}
        {% include "partials/footer.html" %}

        {# Main script #}
        <script src="../../js/index.js"></script>
    </body>
</html>
