---
layout: project
lang: en

title: Beispiel HTML Projekt
subtitle: Auf englisch
# project needs the following frontmatter values:
type: publication # could also be "workshop", "dataset", "prototype"
#
colorMode: bright # or "dark" adds an additional class
featuredImage: /projects/example-md-project/images/feature.png
# thumbnail path needs to be absolute at the moment
thumbnail: /projects/example-md-project/images/thumbnail.png
heroImage: /assets/images/placeholder.png #full page url
visible: false # if false the project will not be listed
# somehow needs to be the name in url of the author page
featured: true
authors:
  - benjamin-seibel
  - victoria-dykes
  - fabian-dinklage
  - fabian-moron-zirfas
  - sebastian-meier
  - alexandra-kapp

start: 2018-05-23
end: 208-05-24
status: ongoing
date: 2019-02-01
assets:
  js:
    - "../js/index.js"

materialsIncluded:
  - name": "images"
    link: "#"
  - name": "video"
    link: "#"
  - name": "press text"
    link: "#"
  - name": "Source Code"
    link: "#"

---
 <!-- extends "layout/project.html"  -->


<!-- Intro – start -->
{% capture textFirst %}
    This week we launched our new app Badestellen Berlin. This was a joint effort of Kompetenzzentrum Wasser, {% include macro-link.html href="/" content="Berliner Wasserbetriebe" type="foo" %} and the LaGeSo. The new application allows citizens to get up to date information on bathing water quality. Besides water quality information the site provides additional info on each site, for example, accessibility features or availability of toilets and parking lots. A link to a routing service and the local public transport service allow you to conveniently plan your next trip.
{% endcapture %}

{% include macro-text.html text=textFirst %}
<!--  Intro – end  -->


<!--  Text columns – start  -->
{% assign titleSecond = "Up-to-date water quality information through shared data." %}

{% capture textSecond %}
    This week we launched our new app Badestellen Berlin. This was a joint effort of Kompetenzzentrum Wasser, Berliner Wasserbetriebe and the LaGeSo. The new application allows citizens to get up to date information on bathing water quality. Besides water quality information the site provides additional info on each site, for example. This week we launched our new app Badestellen Berlin. This was a joint effort of Kompetenzzentrum Wasser, Berliner Wasserbetriebe and the LaGeSo. The new application allows citizens to get up to date information on bathing water quality. Besides water quality information the site provides additional info on each site, for example.
{% endcapture %}

{% include macro-text-column.html title=titleSecond text=textSecond %}
<!--  Text columns – end  -->


<!--  Image(s)/Text – start  -->
{% assign titleThird="Up-to-date water quality information." %}

{% capture textThird %}
    This week we launched our new app Badestellen Berlin. This was a joint effort of Kompetenzzentrum Wasser, Berliner Wasserbetriebe and the LaGeSo. The new application allows citizens to get up to date information on bathing water quality. Besides water quality information the site provides additional info on each site, for example, accessibility features or availability of toilets and parking lots. A link to a routing service and the local public transport service allow you to conveniently plan your next trip.
{% endcapture %}

{% capture firstSliderImages %}
{% include macro-image.html src="/assets/images/lakes.jpg" alt="alt text" %}
{% include macro-image.html src="/assets/images/lake-example-graphic.png" alt="alt text" %}
{% endcapture %}


{% include macro-image-column.html title=titleThird text=textThird images=firstSliderImages %}
<!--  Image(s)/Text – end  -->


<!--  Image(s)/Text reversed – start  -->
{% assign titleFourth="Up-to-date water quality information." %}

{% capture textFourth %}
This week we launched our new app Badestellen Berlin. This was a joint effort of Kompetenzzentrum Wasser, Berliner Wasserbetriebe and the LaGeSo. The new application allows citizens to get up to date information on bathing water quality. Besides water quality information the site provides additional info on each site, for example, accessibility features or availability of toilets and parking lots. A link to a routing service and the local public transport service allow you to conveniently plan your next trip.
{% endcapture %}

{% capture secondSliderImages %}
{% include macro-image.html src="/assets/images/lake-example-graphic.png" alt="alt text"%}
{% include macro-image.html src="/assets/images/datadive.jpg" alt="alt text"%}
{% include macro-image.html src="/assets/images/lakes.jpg" alt="alt text"%}
{% endcapture %}

{% include macro-image-column.html title=titleFourth text=textFourth images=secondSliderImages reversed=true %}
<!--  Image(s)/Text reversed – end  -->


<!--  Blockquote – start  -->
{% assign quoteText = "“We are working at the intersection of the urban & science. We collaborate, ideate and develop. This week we launched our new app Badestellen Berlin.”" %}

{% assign quoteAuthor = "Author Name, publication date" %}

{% include macro-blockqoute-section.html text=quoteText info=quoteAuthor %}
<!--  Blockquote – end  -->

<!--  Image section – start  -->

{% include macro-image-section.html src="/assets/images/lake-example-graphic.png" subtitle="This is a subline, explaining the graphic above along one or two lines of code." %}

<!--  Image section – end  -->

<!--  Code snippet – start  -->
{% capture awesomeCode %}
const create_csv_events = async() => {
    let csv_content = 'group; name';
    let json = await helper.read_json('./events_urls_berlin.json');

    await helper.async_for_each_two(json['events'], async (event_url) => {

        let event_data = await helper.read_json(event_url);
        await helper.async_for_each_two(event_data, async (single_event) => {

            if(single_event !== undefined && single_event.name !== undefined) {
                let new_row = `${single_event.group.name}; ${single_event.name}`;
                csv_content = csv_content.concat(new_row);
            }
        })
    })

    await helper.write_file(csv_content, 'events_frequencies_berlin.csv');
}
{% endcapture %}

{% include macro-code-snippet.html code=awesomeCode language="javascript" %}
<!--  Code snippet – end  -->
