# Distribution Files
dist/**
build/**

# IDE & Editors
.vscode

# OSX
*.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk

node_modules
package-lock.json

# Debug log from npm
npm-debug.log

*.map
