# Distribution Files
dist/**
build/**
*.map


# IDE & Editors
.vscode

# OSX
*.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk

node_modules
# package-lock.json

# Debug log from npm
npm-debug.log
.sass-cache
_site/
.sass-cache
.jekyll-cache/
.jekyll-metadata
node_modules
