{% extends "layout/default.html" %}
{% set pagename = "about" %}

{% block main %}  
<section class="feed">
    <h2 class="feed-headline section-headline headline--bold">Team</h2>
    <ul class="grid feed-list">
        {% for teamFriend in team.current %}
        <li class="feed-list__project">
            <a href="/{{ language }}/team/{{ teamFriend.name | slug }}">
                <img class="feed-list__project-image" src="{{ teamFriend.image }}" alt="{{ teamFriend.name }}">
                <div class="feed-list__project-title">
                    {{ teamFriend.name }}
                </div>
                <div class="feed-list__project-date">
                    {{ teamFriend.position }}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="feed">
    <h2 class="feed-headline section-headline headline--bold">Alumnis</h2>
    <ul class="grid feed-list">
        {% for alumniFriend in team.alumnis %}
        <li class="feed-list__project">
            <a href="#">
                <div class="feed-list__project-title">
                    {{ alumniFriend.name }}
                <div class="feed-list__project-date">
                    {{ alumniFriend.position }}
                </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="partner">
    <h2 class="partner-headline section-headline headline--bold">Partners</h2>
    <ul class="grid partner-list">
        {% for partner in partners %}
        <li class="partner-list__project">
            <a href="#">
                <div class="partner-list__project-image">
                    <img class="partner-list__project-image-logo partner-list__project-image-logo--{{ partner.name | slug }}" src="{{ partner.image }}" alt="{{ partner.name }}">
                </div>
                <div class="partner-list__project-title">
                    {{ partner.name }}
                </div>
                <div>
                    {{ partner.description }}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

