{% extends "layout/default.html" %}
{% set pagename = "start" %}

{% block main %}
<section class="intro">
    <div class="intro-title">What we do?</div>
    <p class="intro-text">
        We are working at the intersection of the urban & science. We collaborate, ideate and develop. 
    </p>
    <a class="link--button" href="./about">
        More about us
    </a>
</section>
<section class="featured">
    <div class="featured-title">What we are proud of</div>
    <h2 class="featured-headline section-headline">Featured Projects</h2>

    <ul class="featured-list">
        {% for project in projects | sortProjectsByDate %}
            {% if project[language].isFeatured %}
            <li class="featured-list__project">
                <h3 class="featured-list__project-title {{ project[language].type }}">
                    <a href="./projects/{{ project[language].title | slug }}">{{ project[language].title }}</a>
                </h3>
                <span class="featured-list__project-subtext">
                    {{ project[language].subtitle }}
                </span>
                <img
                    class="featured-list__project-image"
                    src="{{ project[language].featuredImage }}"
                    alt="{{ project[language].title }}"
                />
            </li>
            {% endif %}
        {% endfor %}
    </ul>

    <a class="link--button" href="./projects">
        All projects
    </a>
</section>

{# Project feed #}
{% include "partials/project/feed.html" %}

{% endblock %}
