.link {
    &--button {
        background: rgba($black, 0);
        border: 1px solid $black;
        border-radius: 6px;
        display: inline-block;
        padding: 10px 12px;
        transition: background 0.5s, color 0.5s;

        &:hover {
            background: rgba($black, 1);
            color: $white;
        }
    }
}
