// Colors
$white: #ffffff;
$black: #000000;
$gray: #666666;

$color--publication: #2d91d2;
$color--prototype: #41b496;
$color--workshop: #dcc82d;
$color--dataset: #e60032;

// Font sizes
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 32px;
