// Colors
$white: #ffffff;
$black: #000000;
$gray: #adadad;

$color-publication: #2d91d2;
$color-prototype: #41b496;
$color-workshop: #dcc82d;
$color-dataset: #e60032;

// Font sizes
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 32px;

// Spacing
$spacing-xs: 5px;
$spacing-s: 15px;
$spacing-normal: 30px;
$spacing-xl: 60px;
$spacing-xxl: 100px;

// Time
$time-s: 0.25s;
$time-normal: 0.5s;

