{% from "macros/navigationItem.html" import navigationItem %}

<nav id="navigation" class="navigation">
    <a class="navigation-logo" href="/{{ language }}">
        <span class="navigation-logo__line">Ideation & Prototyping <span class="bold">Lab</span></span>
        <span class="navigation-logo__line"><span class="bold">Technologiestiftung</span> Berlin</span>
    </a>
    
    <ul class="navigation-list">
        {% for page in pages %}
            {% if page.navigationTitle %}
            {{ navigationItem(page.navigationTitle, page.url) }}
            {% endif %}
        {% endfor %}

        <li class="navigation-list__item navigation-list__item--lang">
            <a id="language-switch" class="navigation-language" href="/{% if language === "en" %}de{% else %}en{% endif %}">
                {% if language === "en" %}
                    Deutsch
                {% else %}
                    English
                {% endif %}
            </a>
        </li>
        <li class="navigation-list__item navigation-list__item--icon">
            <a href="https://twitter.com/tsbberlin" target="_blank">
                <img class="navigation-icon--twitter" src="{{ siteUrl }}/assets/icons/twitter-icon.svg" alt="Twitter" />
            </a>
        </li>

        <li class="navigation-list__item navigation-list__item--icon">
            <a href="https://github.com/technologiestiftung" target="_blank">
                <img class="navigation-icon--github" src="{{ siteUrl }}/assets/icons/github-icon.svg" alt="Github" />
            </a>
        </li>

    </ul>
</nav>
