.grid {
    display: grid;
    grid-gap: $spacing-column--half $spacing-column--half;
    grid-template-columns: repeat(4, minmax(200px, 400px));

    @media only screen and (max-width: $screen-xl) {
        grid-gap: $spacing-column--half $spacing-column--half;
        grid-template-columns: repeat(3, minmax(150px, 400px));
    }

    @media only screen and (max-width: $screen-m) {
        grid-gap: $spacing-column--half $spacing-column--half;
        grid-template-columns: repeat(2, minmax(150px, 400px));
    }

    @media only screen and (max-width: $screen-s) {
        grid-gap: $spacing-column--half $spacing-column--half;
        grid-template-columns: repeat(1, minmax(150px, 500px));
    }
}