.circle_wrapper {
  isolation: isolate;
}

circle {
  fill: rgb(231, 4, 51);
  mix-blend-mode: multiply;
}

.active {
  fill: rgb(197, 6, 44);
  stroke:  rgb(110, 18, 46);
}

.label-active {
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-items {
  
}

.tooltip {
  background: white;
  position: absolute;
  width: 300px;
}

.category {
  display: flex;
  align-items: center;

}

.legend {
  width: 100%;
  height: 100%;
  color: black;
}

.year {
  font-family: 'Roboto Mono', monospace;
}

.wrapper_text {
  width: 400px;
  
}

h2 {
  font-weight: 800;
}

.wrapper_text {
  height: 100px
}

.labels {
  padding-top: 60px;
}

.label {
  height: 25.85px;
}

.xs {
  font-size: 0.9rem !important;
}

#chart {
  display: flex;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
}

.ex {
  display: inline-block;
  text-align: center;
  width: 200px;
}
.ex svg{
  width: 200px;
  height: 200px;
}

svg {
  overflow: visible;
}

svg.arrow-container {
  z-index: -1;
}

path.arrow, #arrowhead {
  fill: none;
  stroke: black;
}

path.arrow.light {
  opacity: .1;
}

a {
  color: black;
}

.annotation {
  font-family: 'Roboto Mono', monospace;
}
