.circle_wrapper {
  isolation: isolate;
}

circle {
  fill: rgb(231, 4, 51);
  mix-blend-mode: multiply;
}

.active {
  fill: rgb(197, 6, 44);
  stroke:  rgb(110, 18, 46);
}

.label-active {
  font-weight: bold;
}

.m-width {
  max-width: 700px !important;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
  justify-content: space-between;
}

.flex-row {
  flex-direction: row;
}

#tooltip {
  background: #F2F2F2;
  /* opacity: 0.25; */
  position: absolute;
  display: flex;
  padding: 10px;
  width: 260px;
  height: 230px;
  border: 1px solid black;
  font-family: 'Barlow', sans-serif;
}

#tooltip .tooltip--title h3 {
  font-family: 'Roboto Mono', monospace;
}

.tooltip--title span {
  text-transform: uppercase;
  color: rgb(148, 148, 148);
  letter-spacing: 0.15rem;
  font-size: 0.5rem;
}

.legend {
  width: 100%;
  height: 100%;
  color: black;
}

.year {
  font-family: 'Roboto Mono', monospace;
}

.wrapper_text {
  width: 400px;
  
}

h2 {
  font-weight: 800;
}

.wrapper_text {
  height: 100px
}

.labels {
  padding-top: 68px;
}

.label {
  height: 32.2px;
}

.xs {
  font-size: 0.9rem !important;
}

#chart {
  display: flex;
  margin-top: 120px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
}

.ex {
  display: inline-block;
  text-align: center;
  width: 200px;
}
.ex svg{
  width: 200px;
  height: 200px;
}

svg {
  overflow: visible;
}

svg.legend-wrapper {
  overflow: hidden;
}

svg.arrow-container {
  z-index: -1;
}

path.arrow, #arrowhead {
  fill: none;
  stroke: black;
}

path.arrow.light {
  opacity: .1;
}

a {
  color: black;
}

.annotation {
  font-family: 'Roboto Mono', monospace;
}

.axis g .domain {
  stroke: none;
}

.tick line {
  stroke: none;
}

.tick text {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
}

.p-top-m {
  padding-top: 20px
}

.p-top-sm {
  padding-top: 10px
}

.p-top-xs {
  padding-top: 5px
}

.button {
  margin-bottom: 10px ;
}

.btn-group {
  width: 50%
}




@media (max-width: 800px) {
  .tick text {
    transform: rotate(-45deg);
    font-size: 0.75rem;
    font-family: 'Roboto Mono Bold', monospace;
  }
}