.footer {
    border: $border-width solid yellow;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    margin-bottom: $spacing-s;
    padding: 0 $spacing-page-m;
    position: relative;
    width: 100%;

    &-copy {
        border: $border-width solid yellow;
    }
    &-list {
        border: $border-width solid yellow;
        display: flex;

        &__item {
            border: $border-width solid yellow;
            padding: 0 $spacing-s;

            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}
