.feed {
    &-title {
        color: $gray;
        font-family: 'plex-mono';
        font-size: $font-size-s;
        text-transform: uppercase;
    }
    &-headline {
    }
    &-list {

        &__project {

            &-image {
            }
            &-date {
                color: $gray;
                font-size: $font-size-s;
                font-family: 'plex-mono';
                line-height: $line-height-min;
                text-transform: uppercase;
                margin-top: $spacing-xs;
            }
            &-title {
                display: block;
                font-size: $font-size-l;
            }
        }
    }
}
