.navigation {
    background: rgba($white, 0);
    // border: 2px solid blue;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    padding: 0 $spacing-page-m;
    position: fixed;
    right: 0;
    top: 0;
    transition: background 0.2s, box-shadow 0.3s;
    width: 100%;
    z-index: 999;

    &-logo {
        background-image: url('../../assets/icons/lab-logo.svg');
        background-position: left 4px;
        background-repeat: no-repeat;
        background-size: 46px;
        // border: 2px solid gray;
        font-family: 'plex-sans';
        font-size: $font-size-xs;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.5em;
        margin-left: -60px;
        overflow: visible;
        padding: 11px 0 10px 60px;
        user-select: none;

        &__line {
            display: block;
        }
    }

    &-list {
        // border: 2px solid orange;
        align-self: center;
        display: flex;

        a {
            // border: 2px solid blue;
            display: flex;
            padding: 0 $spacing-xs;
        }

        &__item {
            // border: 2px solid yellow;
            display: flex;
            user-select: none;
            white-space: nowrap;

            &:last-of-type {
                margin-right: 0;
            }
            &--nav {
                font-weight: bold;
            }
            &--lang {
                margin: 0 $spacing-l;
            }

            img {
                align-self: center;
            }
        }
    }

    &--hasShadow {
        background: rgba($white, 1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
}
