section {
    border: 4px solid aquamarine;

    margin: 0 $spacing-page-m $spacing-xl $spacing-page-m;
    &:last-of-type {
        margin: 0 $spacing-page-m 0 $spacing-page-m;
    }
}

.section {
    &-headline {
        font-size: $font-size-xl;
        font-weight: bold;
    }

    &--code {
        background-color: $light-gray--lighter;
        border-radius: 3px;

        pre {
            font-size: $font-size-s;
            font-family: 'plex-mono';
            line-height: $line-height-code;
            margin: 0;
            padding: $spacing-s $spacing-column--half;

            code {
                font-family: 'plex-mono';
            }
        }
    }
    &--blockquote {
        margin: 0 0 $spacing-xl 0;
    }
    &--columns {
        margin: 0 0 $spacing-xl 0;
    }
}
