<!DOCTYPE html>
<html lang="{{ page.lang }}">
{%- if page.socialMediaImage == null -%}
{%- assign socialMediaImage = "/icons/social_media.jpg" -%}
  {%- else -%}
{%- assign socialMediaImage = page.socialMediaImage -%}
  {%- endif -%}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ page.title }}</title>
        <!-- {# Favicon #} -->
        {% include favicon-links.html %}
        <!-- FACEBOOK -->
        <meta property="fb:app_id" content="487094758334595">
        <meta property="og:url" content="{{site.url}}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Ideation &amp; Prototyping Lab">
          <meta property="og:image" content="{{site.url}}{{socialMediaImage}}">

        <meta property="og:description" content="{%- if page.lang == 'de' -%}
          Wir erforschen und erproben digitale Werkzeuge um gemeinsam mit Bürger*innen, Verwaltung und Unternehmen die Zukunft Berlins zu gestalten. #OpenData #OpenSource #OpenInnovation
          {%- else -%}
          We are exploring and prototyping digital tools in order to collaboratively shape Berlin’s future for citizens, the local government and the industry. #OpenData #OpenSource #OpenInnovation
        {%- endif -%}">
        <meta property="og:site_name" content="Ideation &amp; Prototyping Lab">
        <meta property="article:author" content="Sebastian Meier">

        <!-- TWITTER -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@TSBBerlin">
        <meta name="twitter:creator" content="@seb_meier">
        <meta name="twitter:url" content="{{site.url}}">
        <meta name="twitter:title" content="Ideation &amp; Prototyping Lab">
        <meta name="twitter:description" content="{%- if page.lang == 'de' -%}
          Wir erforschen und erproben digitale Werkzeuge um gemeinsam mit Bürger*innen, Verwaltung und Unternehmen die Zukunft Berlins zu gestalten. #OpenData #OpenSource #OpenInnovation
          {%- else -%}
          We are exploring and prototyping digital tools in order to collaboratively shape Berlin’s future for citizens, the local government and the industry. #OpenData #OpenSource #OpenInnovation
        {%- endif -%}">
        <meta name="twitter:image" content="{{site.url}}{{socialMediaImage}}">

        <!-- GOOGLE+/SCHEMA.ORG -->
        <meta itemprop="name" content="Ideation &amp; Prototyping Lab">
        <meta itemprop="description" content="{%- if page.lang == 'de' -%}
          Wir erforschen und erproben digitale Werkzeuge um gemeinsam mit Bürger*innen, Verwaltung und Unternehmen die Zukunft Berlins zu gestalten. #OpenData #OpenSource #OpenInnovation
          {%- else -%}
          We are exploring and prototyping digital tools in order to collaboratively shape Berlin’s future for citizens, the local government and the industry. #OpenData #OpenSource #OpenInnovation
        {%- endif -%}">
        <meta itemprop="image" content="{{site.url}}{{socialMediaImage}}">

        <!-- CANONICAL URL -->
        <link rel="canonical" href="{{site.url}}">
        {%- if jekyll.environment == 'production' -%}
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/index.min.css" />
        {%- else -%}
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/index.min.css" />
        {%- endif -%}
        <link rel="stylesheet" type="text/css" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.8/tiny-slider.css" />
        {%- if page.layout == "project" -%}
        <!-- include assets only for projets.
            all assets should be realtive to project folder-->
        {%- if page.assets  -%}
        <!-- we have assets -->
        {%- if page.assets.css -%}
            <!-- we have css -->
            {%- for cssfile in page.assets.css -%}
            <link rel="stylesheet" type="text/css" type="text/css" href="{{cssfile}}" />
            {%- endfor -%}
            <!-- end of css -->
            {%- endif -%}
            {%- endif -%}

        {%- else -%}
            <!-- else -->
            <!-- not the project layout -->
        {% endif %}

    </head>
    <body>
        <!-- navigation -->
        <!-- TODO Nav not working yet -->
        {% include navigation.html %}

        {{content}}

        <!-- {# Footer #} -->
        {% include footer.html %}
        {% include funding.html %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.8/min/tiny-slider.js"></script>
        <script src="{{ site.url }}/assets/js/index.js" defer></script>
        {%- if page.layout == 'landing' -%}
        <script src="{{ site.url }}/assets/js/index-timeline.js"></script>
        {%- endif -%}
        {%- if page.layout == "project" -%}
        <!-- include assets only for projets.
            all assets should be realtive to project folder-->
        {%- if page.assets  -%}
        <!-- we have assets -->
            {%- if page.assets.js -%}
            <!-- we have js assets -->
                {%- for jsfile in page.assets.js -%}
                <script src="{{jsfile}}" type="text/javascript" defer></script>
                {%- endfor -%}
            {%- endif -%}
        {%- endif -%}
        {%- else -%}
        <!-- not the project layout -->
        {% endif %}

    </body>
</html>
