.dataset {
    border: $border-width solid red;
    margin-top: 0;

    &-header {
        img {
            display: block;
            max-width: 100%;
            width: 100%;
        }
    }

    &-downloads {
        border: $border-width solid red;
        display: flex;

        &__item {
            border: $border-width solid green;
            display: flex;
            flex-direction: column;
            margin: 0 $spacing-m 0 0;
            padding: 0 0 0 $spacing-l;
            position: relative;

            &:last-of-type {
                margin: 0 0 0 0;
            }

            &--image {
                border: $border-width solid blue;
                left: 0;
                position: absolute;
                top: 0;
                width: 35px;
            }
            &--name {
                border: $border-width solid blue;
            }
            &--size {
                border: $border-width solid blue;
            }
        }
    }

    .data-table__row {
        height: auto;
        padding-bottom: $spacing-xs;
        padding-top: $spacing-xs;

        &-cell {
            align-items: flex-start;
        }
    }
}
