.dataset {
    margin-top: 0;

    &-header {
        img {
            display: block;
            max-width: 100%;
            width: 100%;
        }
    }

    &-downloads {
        display: flex;

        &__item {
            display: flex;
            flex-direction: column;
            margin: 0 $spacing-l 0 0;
            padding: 0 0 0 36px;
            position: relative;

            &:last-of-type {
                margin: 0 0 0 0;
            }

            &--image {
                left: 0;
                position: absolute;
                top: 0;
                width: 25px;
            }
            &--name {
                line-height: $line-height-min;
            }
            &--size {
                color: $grey;
                font-size: $font-size-s;
            }
        }
    }

    .data-table__row {
        height: auto;
        padding-bottom: $spacing-xs;
        padding-top: $spacing-xs;

        &-cell {
            align-items: flex-start;
        }
    }
}
