.team-detail {
    display: flex;
    flex-direction: row;

    &__image {
        flex: 1;
        margin-right: $spacing-column--half;

        img {
            max-width: 100%;
            width: 100%;
        }
    }

    &__social {
        display: flex;
        margin-top: $spacing-xs;

        &--github, &--twitter {
            margin: 4px 10px 0 0;
        }

        &--mail {
            margin-left: $spacing-column--half;
        }
    }

    &__description {
        flex: 1;
        margin-left: $spacing-column--half;

        &--name {
            font-weight: bold;
            font-size: $font-size-xl;
            margin-bottom: $spacing-s;
        }
        &--position {
            color: $gray;
            margin-bottom: $spacing-m;
        }
        &--text {}
    }
}
