.table-of-content-wrapper > .content-wrapper > a {
    font-family: 'IBM Plex Mono';
    opacity: 1;
    text-decoration-line: none;
    padding-top: 20px;
    padding-left: 20px;
}


#title {
	color:#fff;
    background-color: #fff;
    background-image: url(./images/top_bg.png);
    padding-top: 95px;
}

p.copy {
    font-family: 'IBM Plex Sans';
    line-height: 160%;
}

#title .title-subline a,
main a,
p.copy a {
    color: #FFFFFF;
    opacity: .5;
    font-weight: normal;
    text-decoration-line: underline;
    font-family: 'IBM Plex Sans';
}

main{
	color:#fff;
}

#footer {
    background-image: url(./images/bottom_bg.png);
 }

 body{
 	background-color:#003163;
 }

 .button.tag {
    background-color: #57E3FF;
    color: #003163;
}

.table-of-content-wrapper.pt-20 {
    padding-top: 20px;
}


#title .button.tag{
	margin:0;
}

#title h1{
	margin-left:0;
    padding-left:0;
    font-family: 'IBM Plex Mono';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.ai-title {
    font-family: 'IBM Plex Mono';
    font-size: 48px;
    line-height: 110%;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 100;
    position: relative;
}

.title-01 {
    top: 200px;
}

.title-02 {
    top: 20px;
}



.mt-01 {
    padding-top: 350px;
}

.mt-02 {
    padding-top: 355px;
}

.mt-03 {
    padding-top: 406px;
}

.mt-04 {
    padding-top: 406px;
}

.mt-05 {
    padding-top: 458px;
}

.mt-06 {
    padding-top: 303px;
}

.ki-img-01 {
    height: 500px;
    width: 500px;
    max-width: 500px;
    position: absolute;
    right: -88px;
}

.intro-02 {
    padding-top: -10px;
}

.ki-img-02 {
    height: 350px;
    width: 1000px;
    max-width: 1000px;
    top: 250px;
    left: -150px;
    position: absolute;
}

.wrapper-intro {
    padding-top: 150px;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

p.copy.ai-copy {
    font-family: 'IBM Plex Mono';
    font-size: 16px;
    font-weight: 400;
}

p.copy.ai-links a {
    font-family: 'IBM Plex Mono';
    text-decoration-line: underline;
    color: white !important;
    font-size: 16px;
    opacity: 0.5;
}

p.copy.ai-links a:hover {
    color: white;
}

.table-of-content-wrapper {
    margin: 0 auto;
    max-width: 700px;
    padding-top: 50px;
    font-family: 'IBM Plex Mono';
    font-size: 20px;
    font-weight: 400;
    justify-content: space-evenly;
}

.content-wrapper {
    display: flex;
    flex-orientation: column;
    animation: text-shadow 1s ease;
    padding-bottom: 20px;
}

.content-wrapper:hover {
    text-shadow: 0 0 25px #96CBDB;
    animation: text-shadow 1s ease;
}

.content-wrapper > img {
    width: 70px;
    height: 70px;
}

.content-wrapper > span {
    padding-left: 20px;
    padding-top: 20px;
    width: 150px;
}

#github {
   background-color: white;
    
    opacity: 1;
}

#github:hover {
    background-color: white;

}



@media screen and (max-width: 600px) {
    .table-of-content-wrapper {
        flex-direction: column;
    }

    .content-wrapper {
        padding-bottom: 20px;
    }

    p.copy.ai-links a {
        font-size: 12px;
        line-height: 18px;
        opacity: 0.5;
    }

    .ai-title {
        font-size: 36px;
    }

    .title-01 {
        top: 99px;
    }

    .title-02 {
        top: 90px;
    }

    .mt-06 {
        padding-top: 338px;
    }

    .mt-05 {
        padding-top: 265px;
    }

    .mt-03 {
        padding-top: 228px;
    }

    .mt-02 {
        padding-top: 377px;
    }

    .mt-01 {
        padding-top: 188px;
    }

    .ki-img-02 {
        width: auto;
        height: 300px;
    }

    .ki-img-01 {
        width: auto;
        height: 300px;
        right: -50px;
    }

    .wrapper-intro {
        padding-top: 100px;
    }
}

