// General styling
@import 'general/normalize';
@import 'general/fonts';
@import 'general/variables';
@import 'general/base';
@import 'general/inputs';
@import 'general/code-highlighting';

// Layout
@import 'layout/grid';
@import 'layout/data-table';

// Sections
@import 'sections/section';
@import 'sections/navigation';
@import 'sections/footer';
@import 'sections/intro';
@import 'sections/feature-projects';
@import 'sections/lab-feed';

// Pages
@import 'pages/index';
@import 'pages/team-detail';

// Projects
@import 'project/project-detail';
