.footer {
    bottom: 0;
    left: 0;
    margin-bottom: $spacing-ms;
    padding: 0 $spacing-page-m;
    position: relative;
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid $light-grey;

    @media only screen and (max-width: $screen-s) {
        padding: 0 $spacing-page-xs;
    }

    @media only screen and (max-width: $screen-m) {
        flex-direction: column;
        padding: 0 $spacing-page-xs;
    }

    &-outer {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $screen-s) {
            flex-direction: column;
        }
    }

    &-list {
        display: flex;
        

        @media only screen and (max-width: $screen-s) {
            flex-direction: column;
        }

        &__item {
            padding: 0 $spacing-s;
            
            a {
                transition: color $time-xs linear;
                
                &:hover {
                    color: $grey;
                }
            }


            @media only screen and (max-width: $screen-s) {
                padding: 0;
            }

            &:first-of-type {
                padding: 0 $spacing-s 0 0;

                @media only screen and (max-width: $screen-s) {
                    padding: 0;
                }
            }
            
            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}

    .flex-row {
        padding-bottom: $spacing-s;

        @media only screen and (max-width: $screen-s) {
            flex-direction: column;
        }
    }


