.funding {
    &-inner {
        padding: 0 $spacing-page-m;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        @media only screen and (max-width: $screen-m) {
            flex-direction: column;
            padding: 0 30px;
        }
    }

    display: flex;
    justify-content: space-between;
    padding: 20px 0 22px 0;

    @media only screen and (max-width: $screen-m) {
        flex-direction: column;
    }

    .copy-funding {
        max-width: 430px;
        font-size: $font-size-s;
        line-height: $line-height-title;
        color: $grey;

        @media only screen and (max-width: $screen-m) {
            margin: $spacing-xs 0 $spacing-s 0;
            max-width: 100%;
        }
    }
}