.intro {
    &:first-of-type {
        @media screen and (max-width: $screen-m) {
            margin-top: $spacing-xll;
            margin-bottom: $spacing-xl;
        }
    }


    &-title {
        color: $black;
        font-family: 'plex-mono';
        font-size: $font-size-m;
        margin-left: 1px;

        @media only screen and (max-width: $screen-m) {
            font-size: $font-size-s;
        }
    }

    &-text {
        line-height: 1.35em;
        font-size: $font-size-xl;
        width: 550px;


        @media only screen and (min-width: $screen-xxl) {
            width: 550px;
        }

        @media only screen and (max-width: $screen-xl) {
            width: 550px;
        }

        @media only screen and (max-width: $screen-l) {
            width: 80%;
        }

        @media only screen and (max-width: $screen-m) {
            font-size: $font-size-ll;
            width: 100%;
        }
    }
}
