.partner {
    &-list {
        &__project {
            &-title {
                margin-top: $spacing-s;
                font-weight: bold;
            }
            &-image {
                background: $light-grey;
                height: 120px;
                position: relative;

                &-logo {
                    left: 50%;
                    max-height: 50%;
                    max-width: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);

                    &--open-data-informationsstelle {
                        max-width: 75%;
                    }
                }
            }
        }
    }
}

section.team-grid {
    .section-headline {
        margin-bottom: 21px;
    }

    @media screen and (max-width: $screen-m) {
        margin-top: $spacing-xl !important;
        margin-bottom: $spacing-xl !important;
    }
}

section.project-feed {
    margin-top: $spacing-page-l !important;

    .section-headline {
        margin-bottom: 20px;
    }

    @media screen and (max-width: $screen-m) {
        margin-top: $spacing-xl !important;
    }

    @media only screen and (min-width: $screen-xl) {
        margin: $spacing-page-m auto 0px auto !important;
        max-width: $max-width;
    }
}

section.mission-statement {

    &:first-of-type {
        @media screen and (max-width: $screen-m) {
            margin-top: $spacing-xl;
            margin-bottom: $spacing-xl;
        }
    }

    
    h1.section-headline {
        font-size: $font-size-xl;
        margin-bottom: $spacing-s;
    }

    p {
        font-size: $font-size-ll;
        line-height: 1.5em;

        @media screen and (max-width: $screen-m) {
            font-size: $font-size-l;
        }
    }

    a {
        border-bottom: 1px solid $color-publication;
        color: black;
        transition: color $time-s;

        &:hover {
            color: $color-publication;
            transition: color $time-s;
        }
    }
}
