/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  letter-spacing: .5px; }

.custom-select select {
  position: absolute;
  opacity: 0;
  top: -100px; }

.select-selected {
  background-color: #FCFCFC;
  color: black;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid #9B9B9B;
  border-color: #9B9B9B transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #9B9B9B transparent;
  top: 7px; }

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: black;
  padding: 2px 16px;
  border: 1px solid;
  border-color: transparent #E4E4E4 #E4E4E4 #E4E4E4;
  font-size: 12px;
  cursor: pointer; 
}

.select-selected {
  border-color: #E4E4E4; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #FCFCFC;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: #F0F0F0; }

.ui-wrapper {
  margin: auto;
  width: 380px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-top: 40px; }