.featured {
    border: 2px solid orange;
    position: relative;

    &-title {
        border: 2px solid yellow;
    }
    &-list {
        border: 2px solid yellow;
        display: flex;
        flex-direction: column;

        &__project {
            align-self: flex-start;
            border: 2px solid blue;

            &-link {
                border: 2px solid orange;
                box-sizing: content-box;
                display: inline-block;
                font-size: $font-size-xl;
                font-weight: bold;
                padding: 0 60px 0 0;
                position: relative;
                transition: color 0.5s;

                &::after {
                    border: 2px solid yellow;
                    content: '→';
                    font-size: 50px;
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(-15%, -50%);
                    transition: opacity 0.5s, transform 0.5s;
                    user-select: none;
                }

                &:hover {
                    &::after {
                        opacity: 1;
                        transform: translate(0, -50%);
                    }

                    &.publication {
                        color: $color-publication;
                    }
                    &.prototype {
                        color: $color-prototype;
                    }
                    &.workshop {
                        color: $color-workshop;
                    }
                    &.dataset {
                        color: $color-dataset;
                    }
                }
            }

            &-image {
                backface-visibility: hidden;
                bottom: 0;
                display: block;
                height: auto;
                left: 50%;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                transform: translate3d(-50%, 20%, 0);
                transition: opacity 0.5s, transform 0.5s;
                width: 60%;
                z-index: -1;
            }

            &:hover {
                .featured-list__project-image {
                    opacity: 1;
                    transform: translate(-50%, 0);
                }
            }
        }
    }
}
