.featured {
    position: relative;

    &-title {
        border: 2px solid yellow;
    }
    &-list {
        border: 2px solid yellow;
        display: flex;
        flex-basis: auto;
        flex-direction: column;
        height: 300px;
        justify-content: flex-start;
        position: relative;

        &__project {
            align-self: flex-start;
            border: 2px solid blue;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            transition: flex-grow 0.5s;

            &:hover {
                border: 2px solid red;
                flex-grow: 0;

                .featured-list__project {
                    &-title {
                        &::after {
                            transform: translate(0, -50%);
                        }

                        &.publication {
                            color: $color-publication;
                        }
                        &.prototype {
                            color: $color-prototype;
                        }
                        &.workshop {
                            color: $color-workshop;
                        }
                        &.dataset {
                            color: $color-dataset;
                        }
                    }
                    &-subtext {
                        opacity: 1;
                    }
                    &-image {
                        opacity: 0.5;
                        transform: translate3D(-50%, 0, 0);
                    }
                }
            }

            &-title {
                // align-self: flex-end;
                border: 2px solid orange;
                box-sizing: content-box;
                font-size: $font-size-xl;
                font-weight: bold;
                padding: 0 60px 0 0;
                position: relative;
                transition: color 0.5s;

                &::after {
                    border: 2px solid yellow;
                    content: '→';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(-15%, -50%);
                    transition: opacity 0.5s, transform 0.5s;
                    user-select: none;
                }
            }

            &-subtext {
                bottom: 0;
                display: block;
                font-size: $font-size-m;
                left: 0;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                transition: 0.5s;
            }

            &-image {
                backface-visibility: hidden;
                bottom: 0;
                display: block;
                height: auto;
                left: 50%;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                transform: translate3d(-50%, 20%, 0);
                transition: opacity 0.5s, transform 0.5s;
                width: 100%;
                z-index: -1;
            }
        }
    }
}
