.footer {
    border: 2px solid yellow;
    display: flex;
    justify-content: space-between;

    &-copy {
        border: 2px solid yellow;
    }
    &-list {
        border: 2px solid yellow;
        display: flex;

        &__item {
            border: 2px solid yellow;
            margin-right: $spacing-small;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
