.navigation {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    padding: 0 $spacing-page-s;

    &-logo {
        border: 2px solid gray;
        font-family: 'plex-sans';
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;

        &__line {
            display: block;
        }
    }

    &-list {
        border: 2px solid orange;
        align-self: flex-start;
        display: flex;

        &__item {
            border: 2px solid yellow;
            margin-right: $spacing-s;

            &:last-of-type {
                margin-right: 0;
            }

            &--nav {
                font-weight: bold;
                margin-right: $spacing-m;
            }
        }
    }
}
