.navigation {
    margin-top: $spacing-normal;
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;

    &-logo {
        border: 2px solid gray;
        display: inline-block;
        text-transform: uppercase;

        &__line {
            display: block;
        }
    }

    &-list {
        border: 2px solid orange;
        display: flex;

        &__item {
            border: 2px solid yellow;

            &--nav {
                font-weight: bold;
            }
        }
    }
}
