.navigation {
    margin-top: $spacing-xl;
    // border: 2px solid blue;
    display: flex;
    justify-content: space-between;

    &-logo {
        // border: 2px solid gray;
        font-family: 'plex-sans';
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;

        &__line {
            display: block;
        }
    }

    &-list {
        // border: 2px solid orange;
        display: flex;

        &__item {
            // border: 2px solid yellow;
            margin-right: $spacing-s;

            &--nav {
                font-weight: bold;
                margin-right: $spacing-normal;
            }
        }
    }
}
