/* Fonts */

@font-face { font-family: 'ClanOT-Medium'; font-weight: 400; src: url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-medium-webfont.eot"); src: url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-medium-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-medium-webfont.woff") format("woff"), url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-medium-webfont.ttf") format("truetype"), url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-medium-webfont.svg#clanot_medium") format("svg"); }

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

/* CSS START */


body{
  background-color:#F2F2F2;
}

/* ANI LOGO */

#tsb-ani-logo path,#tsb-ani-logo line{fill:transparent;opacity:1;stroke-width:6px;stroke-linejoin:round;stroke-linecap:round}#tsb-ani-logo path{stroke:transparent}#tsb-ani-logo .edge{stroke:#6ECDF5}#tsb-ani-logo .hedge{stroke:#E60433}
#minilogo #tsb-ani-logo path,#tsb-ani-logo line{stroke-width:3px;}

#minilogo{
  width:350px;
  max-width:90%;
  float:left;
  margin-top:15px;
  svg{
    width:100%;
    height:auto;
  }
}

#teaser{
  width:100%;
  background-color:#fff;
  background-image:url('../images/top_bg.png');
  background-position: center 250px;
  background-repeat: no-repeat;
  padding-top:50px;
  overflow: visible;
}

#logo{
  width:100%;
  text-align: center;
}

#logo svg{
  width:100%;
  max-width:440px;
  margin:0 auto;
  height:auto;
}

#teaser-text{
  width:80%;
  max-width:600px;
  margin:0 auto;
}

@media (min-width: 768px) {
  #logo{
    float:left;
    width:50%;
  }

  #teaser-text{
    float:left;
    width:50%;
    margin:50px auto 0 auto;
  }
}

@media (min-width: 1024px) {
  #teaser-text{
    margin:100px auto 0 auto;
  }
}

#teaser h1{
  font-family:'ClanOT-Medium', Helvetica, sans-serif;
  font-weight:400;
  font-size:24px;
  padding-bottom:15px;
}

#teaser p{
  font-family: 'Roboto Mono', monospace;
  font-size:20px;
  display: block;
  max-width:500px;
  &.hashtags{
    padding-top:20px;
    font-style: italic;
    font-weight:bold;
  }
}

.container{
  width:90%;
  max-width:1200px;
  margin:0 auto;
  clear:both;
}

.container.small{
  max-width:768px;
}

.container.center{
  text-align: center;
}

.p-bottom{padding-bottom:40px;}
.p-top{padding-top:40px;}
.p-d-bottom{padding-bottom:80px;}
.p-d-top{padding-top:80px;}

@media (min-width: 768px) {
  #teaser p{
    font-size:24px;
  }
}

@media (min-width: 1025px) {
  h1{
    padding-left:25px;
  }

  #teaser p{
    font-size:26px;
    line-height:34px;
  }
}

nav{
  backround-color:white;
}

#nav{
  clear:none;
}

#tsb-logo{
  width:100%;
  background-color:#fff;
  overflow:visible;

  .inner{
    width:90%;
    margin:0 auto;
    text-align:right;
    padding-top:20px;
    padding-right:20px;
  }

  img{
    width:100%;
    max-width:150px;
    height:auto;
  }
}

@media (min-width: 550px) {
  #tsb-logo{
    width:100%;
    background-color:#fff;
    height:1px;

    .inner{
      width:90%;
      max-width:1200px;
      margin:0 auto;
      text-align:left;
      padding-left:20px;
    }

    img{
      width:100%;
      max-width:150px;
      height:auto;
    }
  }
}

#nav ul{
  padding-top:20px;
  float:right;
}

#nav li{
  float:left;
  padding:0 10px 0 0;
}

#nav a{
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  font-size:14px;
  text-decoration: underline;
  color:#000;
}

#nav a:hover{
  text-decoration: none;
}

#nav li.lang{
  border-left:1px solid #999;
  padding-left:10px;
}

@media (min-width: 400px) {
  #nav li{
    padding:0 20px 0 0;
  }

  #nav li.lang{
    padding-left:20px;
  }
}

#projects{
  clear:both;
  padding-top:100px;
}

#filter-list{
  display: block;
  width:100%;
  text-align: center;
  padding:40px 0 10px 0;
  line-height:40px;
}

#filter-list li{
  display: inline-block;
}

.button{
  border:1px solid #1e3791;
  border-radius:10px;
  padding:5px 10px;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  font-size:14px;
  text-decoration: none;
  cursor:pointer;
  color: #1e3791;
  margin:0 5px;
}

.button:hover{
  background-color:#1e3791;
  color:#DEE3F7;
}

#project-list{
  clear:both;
  width:100%;
}

#project-list li{
  display: block;
  width:90%;
  max-width:400px;
  margin: 40px auto 0 auto;
}

#project-list a{
  font-family: 'Roboto Mono', monospace;
  color:#000;
  text-decoration: none;
  display: block;
  background-color:#fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow:   0px 0px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow:      0px 0px 10px 0px rgba(0,0,0,0.3);
  box-shadow:           0px 0px 10px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}

#project-list a:hover{
  -webkit-box-shadow:   0px 0px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow:      0px 0px 2px 0px rgba(0,0,0,0.5);
  box-shadow:           0px 0px 2px 0px rgba(0,0,0,0.5);
  color:rgba(0,0,0,0.7);
  img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

#project-list .title{
  font-family:'ClanOT-Medium', Helvetica, sans-serif;
  font-weight:400;
  font-size:22px;
  display: block;
  padding:10px 15px 5px 15px;
  clear:both;
}

#project-list .subtitle{
  display: block;
  font-size:14px;
  padding:0 15px 20px 15px;
}

#project-list .date{
  display: block;
  padding:4px 15px 0 0;
  font-size:12px;
  float:right;
}

#project-list img{
  width:100%;
  height:auto;
  margin-bottom:5px;
}

.button.tag{
  font-size:12px;
  padding:2px 8px 3px 8px;
  margin-left:15px;
  background-color:#1e3791;
  border:none;
  color:#DEE3F7;
}

.project .button.tag{
  cursor:auto;
}

#project-list a:hover .button.tag{
  background-color:rgba(0,0,0,0.7);
  color:#fff;
}

@media (min-width: 768px) {
  #project-list li{
    float:left;
    width: 40%;
    margin:40px 5% 0 5%;
  }

  #project-list li.two-break{
    clear:both;
  }

}

@media (min-width: 1024px) {
  #project-list li{
    margin: 40px 3% 0 3%;
    width: 27.3%;
  }

  #project-list li.two-break{
    clear:none;
  }

  #project-list li.three-break{
    clear:both;
  }
}

#team{
  clear:both;
  padding-top:100px;
  padding-bottom:100px;
  max-width:768px;
}

h2{
  font-family:'ClanOT-Medium', Helvetica, sans-serif;
  font-weight:400;
  font-size:28px;
  font-style: italic;
  display: block;
  text-align:center;
}

#footer{
  width:100%;
  background-image:url('../images/bottom_bg.png');
  background-position: center top;
  background-repeat: no-repeat;
  padding-top:200px;
  padding-bottom:20px;
  overflow: visible;
  background-color:#3192d0;
  font-family: 'Roboto Mono', monospace;
  font-size:13px;
  color:#fff;
  a{
    color:#fff;
    text-decoration: none;
    &:hover{
      text-decoration:underline;
    }
  }
}

#footer .container > a img, #footer .contact-meta, #footer .contact-social{
  display: block;
  margin:0 auto;
  max-width:90%;
  text-align: center;
  margin-bottom:30px;
}

#footer .contact-meta{
  margin-bottom:50px;
}

#footer .contact-social a{
  &:hover{
    opacity:0.5;
  }
  &:first-child{
    margin-right:20px;
  }
}


@media (min-width: 768px) {
  #footer{
    height:400px;
    padding-bottom:0;
  }
  
  #footer .container > a img, #footer .contact-meta{
    float:left;
    margin-right:30px;
    text-align: left;
  }

  #footer .contact-meta{
    padding-top:23px;
    padding-left:20px;
  }

  #footer .contact-social{
    clear:both;
  }
}

@media (min-width: 920px) {
  #footer .contact-social{
    padding-top:50px;
    padding-left:15px;
    float:left;
    clear:none;
    margin-right:30px;
    text-align: left;
  }
}

hr.clear{
  height:1px;
  width:100%;
  clear:both;
  visibility: hidden;
}

#team-list img{
  width:245px;
  max-width:100%;
  height:auto;
}

#team-list .unicorn img{
  width:250px;
  height:auto;
  margin-top:-20px;
}

#team .contact, #team img{
  float:left;
}

#team h3{
  font-family:'ClanOT-Medium', sans-serif;
  font-weight:700;
  font-size:25px;
  float:left;
  clear:both;
  margin-top:-20px;
  margin-left:10px;
  text-shadow: 1px 1px #F2F2F2, -1px -1px #F2F2F2, 1px -1px #F2F2F2, -1px 1px #F2F2F2;
  color:#000;
}

#team .unicorn{
  padding-top:100px;
}

#team .unicorn h3{
  padding-top:40px;
  margin-left:-36px;
  clear:none;
}

#team .unicorn p{
  clear:both;
  padding-top:40px;
  padding-left:20px;
}

#team a, #team p{
  text-decoration: none;
  color:#000;
  font-family: 'Roboto Mono', monospace;
  font-size:13px;
}

#team a{
  font-style:italic;
}

#team a:hover{
  text-decoration: underline;
}

#team p{
  padding-left:10px;
  line-height:1.6em;
}

#team-list li{
  width:90%;
  clear:both;
  max-width:400px;
  margin:0 auto;
  padding-top:50px;
}

@media (min-width: 438px) {
  #team .unicorn p{
    clear:none;
    float: left;
    padding-top:60px;
    width:180px;
    margin-left:-50px;
  }

  #team-list .unicorn img{
    margin-left:-74px;
  }
}

@media (min-width: 774px) {
  #team .unicorn p{
    width:225px;
  }
}

@media (min-width: 769px) {
  #team-list li{
    clear:none;
    float:left;
    width:50%;
  }

  #team-list li.two-break{
    clear:both;
  }

}

#end{
  background-color:#213a8f;
  color:#eee; 
  font-family: 'Roboto Mono', monospace;
  font-size:13px;
  line-height: 24px;
  padding-bottom:24px;
  
  a{
    color:#eee;
    text-decoration: none;
    &:hover{
      text-decoration:underline;
    }
  }
}

#end > div{
  padding:20px 0 0 0;
  text-align: center;
}

@media (min-width: 768px) {
  #end{
    height:70px;
  }

  #end .left{
    text-align: left;
    float:left;
  }

  #end .right{
    text-align: right;
    float:right;
  }

}

/* ---- Page Head ---- */

#page-head{
  background-color: #fff;
  min-height: 40px;
  .left{
    float:left;
    line-height:20px;
  }
  .right{
    clear:both;
    display: block;
    text-align: center;
    a{
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  a{
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-size: 14px;
    text-decoration: none;
    color:#000;
    &:hover{
      text-decoration: underline;
    }
  }
}

@media (min-width: 670px) {
  #page-head .right{
    text-align: right;
    clear:none;
    float:right;
  }
}


/* ---- CONTENT ---- */

#title{
  width: 100%;
  background-color: #fff;
  background-image: url(../images/top_bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 70px;

  .container{
    text-align: center;
  }

  h1{
    font-family:'ClanOT-Medium', Helvetica, sans-serif;
    font-weight:400;
    font-size:24px;
    text-align: center;
    padding-top:10px;
    padding-bottom:15px;
  }

  .title-subline{
    font-family: 'Roboto Mono', monospace;
    font-size:14px;
    display: block;
    text-align: center;
    padding-bottom:30px;
    a{
      color:#000;
      text-decoration: none;
      font-style:italic;
      &:hover{
        text-decoration:underline;
      }
    }
  }
}

pre{
  display: block;
  padding:30px;
  background-color:#fff;
  border:1px solid rgba(0,0,0,0.1);
}

pre[class*="language-"]{
  background-color:#fff;
}

#github{
  min-width: 250px;
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  max-width:100%;
  border-radius:10px;
  border:1px solid rgba(0,0,0,0.1);
  background-color:rgba(0,0,0,0.05);
  margin:40px auto 40px auto;
  text-align: left;
  text-decoration:none;
  color:#000;
  overflow: hidden;
  img{
    margin:20px 0 20px 20px;
    float:left;
  }
  &:hover{
    background-color:rgba(0,0,0,0.025);
    border:1px solid rgba(0,0,0,0.3);
    cursor: pointer;
  }
}

.github-title{
  display: inline-block;
  padding:17px 20px 0 20px;
  font-size:20px;
}

.github-subline{
  font-size:14px;
  font-style:italic;
  padding:0 0 10px 20px;
}

p.copy{
  max-width:700px;
  margin:0 auto;
  font-family: 'Barlow', sans-serif;
  font-size:16px;
  line-height: 24px;
  a{
    text-decoration: none;
    font-weight: bold;
    color:#1e3791;
    &:hover{
      text-decoration:underline;
    }
  }
}

pre code{
  font-size:14px;
}

@media (min-width: 768px) {
  p.copy{
    font-size:20px;
    line-height: 30px;
  }
  pre code{
    font-size:16px;
  } 
}

blockquote{
  font-family: 'Roboto Mono', monospace;
  max-width:700px;
  margin:0 auto;
  padding:20px 0;
  p{
    font-size:24px;
  }
  .author{
    display: block;
    font-size:18px;
    font-style:italic;
    padding:10px 0 0 20px;
  }
  &.center{
    text-align:center;
  }
}

#title{

}

.special-section{
  -webkit-box-shadow:   0px 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow:      0px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow:           0px 0px 10px 0px rgba(0,0,0,0.2);
  background-color:#fff;
  padding:20px 0;
  margin: 20px 0 40px 0;
}

.embed{
  text-align: center;
}

.embed iframe{
  margin:0 auto;
  max-width:100%;
}

img.responsive{
  width:100%;
  height:auto;
}

p.caption{
  font-family: 'Roboto Mono', monospace;
  font-size:12px;
  text-align:center;
  padding-top: 4px;
}

#page-nav{
  ul{
    padding-top:20px;
    float:right;
  }
  li{
    float:left;
    padding:0 20px 0 0;
    &.lang{
      border-left: 1px solid #999;
      padding-left: 20px;
    }
  }
  span{
    font-family: 'Roboto Mono', monospace;
    font-size:14px;
    line-height:0;
  }
}

.gallery{
  width:100%;
}

.gallery li{
  display: block;
  text-align: center;
  margin:0 auto 20px auto;
}

@media (min-width: 505px) {
  .gallery{
    max-width:505px;
    margin:0 auto;
  }
  .gallery li{
    float:left;
    max-width:242px;
    width:47%;
    margin-right:0;
    &.two-break{
      margin-right:6%;
      clear:both;
    }
  }
}

@media (min-width: 786px) {
  .gallery{
    max-width:768px;
  }
  .gallery li{
    max-width:242px;
    width:30%;
    margin-right:0;
    margin-left:5%;
    &.two-break{
      margin-left:5%;
      margin-right:0;
      clear:none;
    }
    &.three-break.two-break{
      margin-left:0;
      clear:both;
    }
    &.three-break{
      margin-left:0;
      clear:both;
    }
  }
}

/* TMP LIGHTBOX */

#lightbox{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(255,255,255,0.8);
  text-align:center;

  img{
    min-width:50px;
    min-height:50px;
    max-width:90%;
    max-height:90vh;
    background-position: center;
    background-image:url(../images/loading.gif);
    border:transparent;
    background-repeat: no-repeat;
    height:auto;
    width:auto;
  }

  .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
  } 

  .middle {
    display: table-cell;
    vertical-align: middle;
    max-width:100%;
    max-height:100%;
  }

  .inner {
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
  }
}

#lghtbx-close{
  display: block;
  position: fixed;
  top:10px;
  right:10px;
  text-indent: 2000px;
  color:transparent;
  overflow:hidden;
  width:20px;
  height:19px;
  background-image:url('../images/lightbox-close@2x.png');
  background-size:40px 19px;
  background-repeat: no-repeat;
  background-position:left;
  &:hover{
    background-position:right;
    cursor: pointer;
  }
}

#lghtbx-subline{
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
  span{
    display: inline-block;
    padding:5px 10px 10px 10px;
    background-color:#fff;
    font-family: 'Roboto Mono', monospace;
    font-size:14px;
  }
}

#lghtbx-next, #lghtbx-prev{
  cursor: pointer;
  background-repeat: no-repeat;
  display: block;
  position:fixed;
  top:50%;
  margin-top:-24.5px;
  width:27px;
  height:49px;
  background-size: 54px 49px;
}

#lghtbx-next{
  right:10px;
  background-position: right;
  background-image:url(../images/lightbox-next@2x.png);
  &:hover,&.inactive{
    background-position:left;
  }
}

#lghtbx-prev{
  left:10px;
  background-position: left;
  background-image:url(../images/lightbox-prev@2x.png);
  &:hover,&.inactive{
    background-position:right;
  }
}

hr.divider{
  width:100%;
  clear:both;
  border:transparent;
  height:17px;
  background-position: center;
  background-image:url(../images/divider.png);
  background-repeat: no-repeat;
  margin:20px 0;
  &.small{
    max-width:768px;
    margin:20px auto;
  }
}

.project main{
  h2{
    text-align:left;
    font-style: normal;
    font-family:'ClanOT-Medium', Helvetica, sans-serif;
    font-weight:400;
    font-size:20px;
    display: block;
    max-width:700px;
    margin:0px auto;
  }
  h3{
    text-align:left;
    font-style: normal;
    font-family:'ClanOT-Medium', Helvetica, sans-serif;
    font-weight:400;
    font-size:16px;
    display: block;
    max-width:700px;
    margin:0px auto;
  }
  ul,ol{
    max-width:700px;
    margin:0px auto;
    font-family: 'Roboto Mono', monospace;
    font-size:14px;
    line-height:24px;
  }
  ul{
    list-style-type: circle;
  }
}

.download-list ul, .download-list li{
  list-style: none;
}

.download-list li{
  width:100%;
  clear:both;
}

.download-list li a{
  color:#000;
  text-decoration: none;
}

.download-list li a:hover{
  color:#979797;
  .download-icon{
    background-position: right;
  }
}

.download-icon{
  background-image:url(../images/download.png);
  background-size:54px 42px;
  background-repeat: no-repeat;
  background-position: left;
  width:27px;
  height:42px;
  float:left;
  display: inline-block;
  margin:7px 20px 20px 0;
}

.download-title{
  font-weight:bold;
  font-size:18px;
}

.download-subtitle{
  font-size:14px;
}

@media (min-width: 768px) {
  .download-list li{
    clear:none;
    float:left;
    width:45%;
    margin-left:2.5%;
    margin-right:2.5%;
  }

  .project main{
    ul,ol{
      font-size:18px;
      line-height:28px;
    }
  }
}

#author{
  text-align: center;
  img{
    margin-bottom:20px;
  }
  a{
    color:#000;
    text-decoration:underline;
    &:hover{
      text-decoration:none;
    }
  }
  h3{
    color:#555;
    padding-bottom:3px;
  }
  h2,h3{
    text-align:center;
  }
  p{
    padding-top:20px;
    text-align:left;
    font-family: 'Roboto Mono', monospace;
    font-size:14px;
    line-height:24px;
  }
}

@media (min-width: 786px) {
  #author{
    h2,h3{
      text-align:left;
    }
    img{
      float:left;
      margin-right:20px;
    }
  }
}
