#vis{
  font-family:Helvetica, Arial, sans-serif; 
  font-size:12px;
}

#loader{
  height:185px;
  text-align:center;
}

#geberChart{
  width:50%;
  float:left;
}

#artChart{
  width:50%;
  float:left;
}

#binChart-1,
#binChart-2,
#binChart-3,
#yearChart,
#mapChart{
  margin:0;
  padding:0;
  float:left;
  height:400px;
  width:50%;
  margin-bottom:50px;
}

#binChart-1,
#binChart-2,
#binChart-3{
  width:33.33%;
}

#mapChart{
  text-align: center;
}

#mapChart svg{
  max-width:100%;
}

.mapChart .toggle:hover,
.mapChart.sum .toggle.sum,
.mapChart.ratio .toggle.ratio,
.mapChart.count .toggle.count{
  fill:#E70433;
  cursor: pointer;
}

.dateChart .tick line{
  stroke:rgba(0,0,0,0.5);
}

.dateChart .right .tick:first-of-type line{
  display: none;
}

.dateChart .right .tick line{
  stroke-dasharray: 3,3;
}

.dateChart .xaxis text{
  text-anchor: middle;
}

.dateChart .xaxis path,
.dateChart .xaxis line{
  display: none;
}

.dateChart .yaxis path{
  display: none;
}

text{
  font-size:10px;
  font-family: Helvetica, Arial, sans-serif;
}

rect.sumbg, rect.bg, rect.bars{
  fill:rgba(0,0,0,0.1);
}

#preview{
  clear:both;
}

table, td, tr, th, tfoot, tbody, thead{
  margin:0;
  padding:0;
  border:0;
}

table{
  width:100%;
}

td, th{padding: 4px 10px 4px 0; text-align:left;}
td.betrag,
th.betrag{
  text-align:right;
}

thead th{
  border-bottom:2px solid #000;
}

tfoot th{
  border-top:2px solid #000;
}

tbody tr:nth-child(even){
  background-color:rgba(0,0,0,0.05);
}

tbody tr:hover{
  background-color:#FFBBC9;
}

td{
  padding: 4px 4px;
}

th.ASC, th.DESC{
  color:#E70433; 
}

th:hover{
  cursor:pointer;
  color:#E70433;
}

th.ASC::before{
  display:inline-block;
  content:'↑';
  padding-right:3px;
}

th.DESC::before{
  display:inline-block;
  content:'↓';
  padding-right:3px;
}

.pagination{
  clear:both;
  float:left;
  width:100%;
  text-align: center;
  padding:20px 0 50px 0;
}

#pagination{
  padding-bottom:20px;
}

.pagination{
  clear:both;
}

.pagination a{
  cursor: pointer;
}

.pagination a:hover{
  color:#E70433;
}

.next{
  padding-left:15px;
  font-weight:bold;
}

.prev{
  padding-right:15px;
  font-weight:bold;
}

.search{
  clear:both;
  font-size:24px;
  width:48%;
  padding:5px 0;
  text-indent: 10px;
  background-size:40px 26px;
  background-position: right;
  background-image:url('../images/search@2x.png');
  background-repeat: no-repeat;
  border:1px solid rgba(0,0,0,0.3);
  outline: none;
  float:left;
}

#search_zweck.search{
  float:right;
  clear:none;
}

@-webkit-keyframes spinner {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

#euro-sign{
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#loader-funds{
  display: inline-block;
  font-size:36px;
  font-family: 'ClanOT-Medium', Helvetica, sans-serif;
  font-weight:700;
  padding:5px 0 20px 0;
}

#sumChart{
  display: none;
  clear:both;
  width:100%;
  padding:80px 0 20px 0;
  text-align:center;
  font-size:36px;
  font-family: 'ClanOT-Medium', Helvetica, sans-serif;
  font-weight:700;
}

#sumChart span span{
  font-family:Helvetica, Arial, sans-serif; 
  font-size:12px;
  font-weight:normal;
}

#container{
  width:90%;
  margin:0 auto;
  max-width:1280px;
}

#maprow{
  clear:both;
  width:100%;
  text-align:center;
}

#maprow>div{
  width:33%;
  float:left;
  height:300px;
}

#maprow>div svg{
  width:100%;
  height:100%;
}

.year-title{
  display: block;
  width:100%;
  text-align: center;
}

.dateChart rect{
  fill:#0B8ADD;
}

.dateChart.hasSelection rect{
  fill:#AAA;
}

.mapChart path.overlays{
  stroke:transparent;
  -webkit-transition: stroke 0.2s;
  transition: stroke 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.dateChart rect{  
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.dateChart .dategroup:hover rect,
.dateChart .dategroup.selected rect{
  -webkit-transition: fill 0s;
  transition: fill 0s;
  fill:#E70433;
  cursor: pointer;
}

.dateChart rect.counts{
  fill:#66BEF7; /*url("#texture");*/
  /*stroke:#000;
  stroke-width:1px;*/
}

.dateChart.hasSelection rect.counts{
  fill:rgb(200,200,200); /*url("#texture_grey");*/
  /*stroke:#AAA;*/
}

.dateChart .dategroup.selected rect.counts,
.dateChart .dategroup:hover rect.counts{
  fill: #FF6484; /*url("#texture_blue");*/
  /*stroke:#E70433;*/
}

.dateChart pattern rect{
  fill:#fff !important;
}

.mapChart path.overlays:hover,
.mapChart path.overlays.selected{
  -webkit-transition: stroke 0s;
  transition: stroke 0s;
  stroke:#E70433 !important;
  cursor: pointer;
}

g.matrixGroup.selected rect.bg,
g.matrixGroup:hover rect.bg,
g.matrixGroup.selected rect.sumbg,
g.matrixGroup:hover rect.sumbg{ 
  fill:#FFBBC9;
}

g.matrixGroup rect.count{ 
  fill:#66BEF7; /*url("#texture");*/
  /*stroke:#000;
  stroke-width:1px;*/
}

svg.hasSelection g.matrixGroup.selected rect.count,
svg.hasSelection g.matrixGroup:hover rect.count,
g.matrixGroup.selected rect.count,
g.matrixGroup:hover rect.count{ 
  fill:#FF6484; /* url("#texture_blue");*/
  /*stroke:#E70433;*/
}

g.matrixGroup rect.bar,
g.matrixGroup rect.sumbar{
  fill:#0B8ADD;
}

g.matrixGroup.selected rect.bar,
g.matrixGroup:hover rect.bar,
g.matrixGroup.selected rect.sumbar,
g.matrixGroup:hover rect.sumbar{
  fill:#E70433;
}

svg.hasSelection rect.sumbar,
svg.hasSelection rect.bar{
  fill:#AAA;
}

svg.hasSelection g.matrixGroup rect.count{
  fill:rgb(200,200,200); /*url("#texture_grey");*/
  /*stroke:#AAA;*/
}

g.matrixGroup.selected text,
g.matrixGroup:hover text{
  fill:#E70433;
}

.matrixChart rect.button{
  cursor: pointer;
  fill:transparent;
  stroke:transparent;
}

.matrixChart tspan{
  cursor:pointer;
}

.matrixChart tspan:hover{
  fill:#E70433;
}

.sort-d-count, .sort-d-icount,
.sort-d-label, .sort-d-ilabel,
.sort-d-sum, .sort-d-isum{
  display: none;
}

.matrixChart.icount .sort-d-icount,
.matrixChart.count .sort-d-count,
.matrixChart.isum .sort-d-isum,
.matrixChart.sum .sort-d-sum,
.matrixChart.ilabel .sort-d-ilabel,
.matrixChart.label .sort-d-label{
  fill:#E70433;
  display: block;
  font-weight: bold;
}

.matrixChart.count .sort-count,
.matrixChart.icount .sort-count,
.matrixChart.label .sort-label,
.matrixChart.ilabel .sort-label,
.matrixChart.isum .sort-sum,
.matrixChart.sum .sort-sum{
  fill:#E70433;
}

/*.matrixChart g:hover rect{
  stroke:red !important;
}
*/

#intro{
  clear:both;
  width:100%;
  text-align: center;
  padding-bottom:100px;
}

#intro img{
  margin-bottom:25px;
}

#maprow button, #intro button{
  font-size:16px;
  border:1px solid #000;
  padding:5px 10px;
  cursor: pointer;
  border-radius:4px;
  outline:none;
}

#maprow button{
  margin:30px 0;
}

#maprow button:hover, #intro button:hover{
  border-color:#E70433;
  background-color:#E70433;
  color:#fff;
}

h5{
  text-align: center;
  font-family: 'ClanOT-Medium', Helvetica, sans-serif;
  font-size:16px;  
  padding-bottom:20px;
  margin-top:-50px;
}

#maprow div#minimap-buttons{
  display:none;
  width:100%;
  text-align: center;
  clear:both;
  float:none;
  height:auto;
}

#minimap-buttons.count #mmb-count,
#minimap-buttons.sum #mmb-sum,
#minimap-buttons.ratio #mmb-ratio,
#minimap-buttons span:hover{
  color:#0B8ADD;
  cursor:pointer;
}

#tooltip {
  pointer-events: none;
  position: absolute;
  top:0;
  left:0;   
  display:none;
}

#tooltip td,
#tooltip tr,
#tooltip table{
  border:none;
  background-color:transparent;
}

#tooltip table{
  min-width: 100%;
}

#tooltip i{
  font-size:16px;
}

.tooltip-title{
  color:#fff;
  font-family: 'ClanOT-Medium', Helvetica, sans-serif;
  font-size:14px; 
  max-width:250px;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}

.tooltip-body{
  font-family:'Barlow', sans-serif;
  font-size:12px;
}

.tooltip-body:hover{
  color:#000;
}

.top .tooltip-body,
.bottom .tooltip-body{
  min-width: 250px;
}

.top table table,
.bottom table table{
  width:100%;
}

#tooltip.top table table tr,
#tooltip.bottom table table tr{
  border-bottom:1px solid rgba(0,0,0,0.2);
}

.tp-tl{ padding: 0; background-repeat: no-repeat; background-size:29px 39px; width:29px; height:39px; background-image:url(../images/t-l@2x.png); }
.tp-tm{ padding: 0 6px 0 4px; height:39px; background-repeat: repeat-x; background-image:url(../images/t-m@2x.png); background-size:3px 39px; }
.tp-tr{ padding: 0; width:9px; height:39px; background-repeat: no-repeat; background-size:9px 39px; background-image:url(../images/t-r@2x.png); }
.tp-ml{ padding: 0; background-repeat: repeat-y; background-size:29px 14px; width:29px; background-image:url(../images/m-l@2x.png);}
.tp-mm{ padding: 4px 4px; background-repeat: repeat; background-image:url(../images/m-m@2x.png); background-size:3px 3px;}
.tp-mr{ padding: 0; width:9px; background-repeat: repeat-y; background-size:9px 14px; background-image:url(../images/m-r@2x.png);}
.tp-bl{ padding: 0; background-repeat: no-repeat; background-size:29px 14px; width:29px; height:14px; background-image:url(../images/b-l@2x.png);}
.tp-bm{ padding: 0; height:14px; background-repeat: repeat-x; background-image:url(../images/b-m@2x.png); background-size:3px 14px;}
.tp-br{ padding: 0; width:9px; height:14px; background-repeat: no-repeat; background-size:9px 14px; background-image:url(../images/b-r@2x.png);}

.mirror .tp-tl{ background-image:url(../images/t-r-r@2x.png); width:9px; height:39px; background-repeat: no-repeat; background-size:9px 39px; }
.mirror .tp-tm{ background-image:url(../images/t-m-r@2x.png); height:39px; background-repeat: repeat-x; background-size:3px 39px; }
.mirror .tp-tr{ background-image:url(../images/t-l-r@2x.png); background-repeat: no-repeat; background-size:29px 39px; width:29px; height:39px; }
.mirror .tp-ml{ background-image:url(../images/m-r-r@2x.png); width:9px; background-repeat: repeat-y; background-size:9px 14px; }
.mirror .tp-mm{ background-image:url(../images/m-m-r@2x.png); background-repeat: repeat; background-size:3px 3px;}
.mirror .tp-mr{ background-image:url(../images/m-l-r@2x.png); background-repeat: repeat-y; background-size:29px 14px; width:29px;}
.mirror .tp-bl{ background-image:url(../images/b-r-r@2x.png); width:9px; height:14px; background-repeat: no-repeat; background-size:9px 14px; }
.mirror .tp-bm{ background-image:url(../images/b-m-r@2x.png); height:14px; background-repeat: repeat-x; background-size:3px 14px;}
.mirror .tp-br{ background-image:url(../images/b-l-r@2x.png); background-repeat: no-repeat; background-size:29px 14px; width:29px; height:14px; }

.bottom .tp-tl{ background-image:url(../images/b-l-t@2x.png); background-position:left; width:8px; height:39px; background-repeat: no-repeat; background-size:9px 39px; }
.bottom .tp-tm{ background-image:url(../images/b-m-t@2x.png); padding-top:4px; height:39px; background-repeat: repeat-x; background-size:3px 39px; }
.bottom .tp-tr{ background-image:url(../images/b-r-t@2x.png); background-position:right; background-repeat: no-repeat; background-size:9px 39px; width:8px; height:39px; }
.bottom .tp-ml{ background-image:url(../images/m-l-t@2x.png); background-position:left; width:8px; background-repeat: repeat-y; background-size:9px 14px; }
.bottom .tp-mm{ background-image:url(../images/m-m-t@2x.png); background-repeat: repeat; background-size:3px 3px;}
.bottom .tp-mr{ background-image:url(../images/m-r-t@2x.png); background-position:right; background-repeat: repeat-y; background-size:9px 14px; width:8px;}
.bottom .tp-bl{ background-image:url(../images/t-l-t@2x.png); background-position:left; width:8px; height:28px; background-repeat: no-repeat; background-size:9px 28px; }
.bottom .tp-bm{ background-image:url(../images/t-m-t@2x.png); height:28px; background-repeat: no-repeat; background-position: center; background-size:800px 28px;}
.bottom .tp-br{ background-image:url(../images/t-r-t@2x.png); background-position:right; background-repeat: no-repeat; background-size:9px 28px; width:8px; height:28px; }

.top .tp-tl{ background-image:url(../images/t-r-b@2x.png); background-position:left; width:8px; height:58px; background-repeat: no-repeat; background-size:9px 58px; }
.top .tp-tm{ background-image:url(../images/t-m-b@2x.png); padding-top:22px; white-space:nowrap; height:58px; background-position:center; background-repeat: no-repeat; background-size:800px 58px; }
.top .tp-tr{ background-image:url(../images/t-l-b@2x.png); background-position:right; background-repeat: no-repeat; background-size:9px 58px; width:8px; height:58px; }
.top .tp-ml{ background-image:url(../images/m-r-b@2x.png); background-position:left; width:8px; background-repeat: repeat-y; background-size:9px 14px; }
.top .tp-mm{ background-image:url(../images/m-m-b@2x.png); background-repeat: repeat; background-size:3px 3px;}
.top .tp-mr{ background-image:url(../images/m-l-b@2x.png); background-position:right; background-repeat: repeat-y; background-size:9px 14px; width:8px;}
.top .tp-bl{ background-image:url(../images/b-r-b@2x.png); background-position:left; width:8px; height:14px; background-repeat: no-repeat; background-size:9px 14px; }
.top .tp-bm{ background-image:url(../images/b-m-b@2x.png); height:14px; background-repeat: repeat-x; background-size:3px 14px;}
.top .tp-br{ background-image:url(../images/b-l-b@2x.png); background-repeat: no-repeat; background-position:right; background-size:9px 14px; width:8px; height:14px; }


