.markdown-content {
  // p {
  //   img {
  //     width: 100%;
  //     max-width: 100%;
  //   }
  // }
  p {
    margin: 0 $spacing-page-m $spacing-l $spacing-page-m;

    @media only screen and (max-width: $screen-m) {
      margin: 0 0 $spacing-m 0;
    }

    &:last-of-type {
      margin: 0 $spacing-page-m 0 $spacing-page-m;

      @media only screen and (max-width: $screen-m) {
        margin: 0;
      }
    }

    &.blockquote {
      margin: 0 0 $spacing-s 0;
    }
  }

  .project-image {
      margin: $spacing-xl 0;

    @media only screen and (max-width: $screen-xl) {
        margin: $spacing-l 0;
    }

    @media only screen and (max-width: $screen-l) {
        margin: $spacing-m 0;
    }

    @media only screen and (max-width: $screen-m) {
        margin: $spacing-s 0;
    }
  }
}
