{% macro text(textContent) %}
<section class="project-text">
    {{ textContent | safe }}
</section>
{% endmacro %}


{% macro textColumn(title, textContent) %}
<section class="project-text columns">
    <h3>{{ title }}</h3>
    <p>{{ textContent | safe }}</p>
</section>
{% endmacro %}


{% macro imageColumn(title, textContent, images, reversed) %}
<section class="project-columns {{ "reversed" if reversed }}">
    <div>
        <h3>{{ title }}</h3>
        <p>{{ textContent | safe }}</p>
    </div>
    <div class="image-slider">
        {{ images | safe }}
    </div>
</section>
{% endmacro %}

{% macro blockquote(quoteText, quoteInfo) %}
{# TODO: Automatic quotation marks depending on language #}
<blockquote>
    <p>
        {{ quoteText }}
    </p>
    – {{ quoteInfo }}
</blockquote>
{% endmacro %}
