{% macro text(textContent) %}
<section class="project-text">
    {{ textContent | safe }}
</section>
{% endmacro %}


{% macro textColumn(title, textContent) %}
<section class="project-text columns">
    <h3>{{ title }}</h3>
    <p>{{ textContent | safe }}</p>
</section>
{% endmacro %}


{% macro imageColumn(title, textContent, images, reversed) %}
<section class="project-columns {{ "reversed" if reversed }}">
    <div>
        <h3>{{ title }}</h3>
        <p>{{ textContent | safe }}</p>
    </div>
    {{ images | safe }}
</section>
{% endmacro %}
