.chart-legend {
    z-index: 1000;
    position: absolute;
    margin-top: 50px;
}

#legend-bars-berlin {
    margin-top: 20px;
}

.bar-wrapper {
    width: 70px;
    display: flex;
    flex-direction: row;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

button:focus {
    outline:0;
}

.bar-wrapper .bar {
    height: 6px;
    width: 6px;
    border-radius: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.bar-wrapper .bar-metadata {
    margin-left: 5px;
    transform: translateY(-2px);
}



.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.selected {
    fill: red;
    transition: fill 0.25s;
}

.axis text {
font: 10px sans-serif;
}

.cells circle:hover  {
    fill: red;
}

.selected--cells {
    fill: red; 
}

.selected--circles {
    opacity: 0.8;
    transition: fill 0.5s;
}

.unselected--circles {
    opacity: .1;
    transition: fill 0.5s;
}

#brushed-tooltip {
    height: 200px;
    padding-top: 1rem;
    width: 100%;
}

.tt-wrapper {
    margin-right: 1rem;
    width: 150px;
}

.tt-subline {
    margin-top: 0.25rem;
    color: grey;
    font-size: 14px;
}

.sub-wrapper {
    margin-top: 1rem;
    display: none;
}

.metadata {
    display: flex;
}

.metadata div {
    max-width: 100%;
}

.tt-headline {
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 85%;
    max-width: 450px;
    letter-spacing: 0.2px;
}

.tt-subheadline {
    color:#3291D0;
    /* font-weight: bold; */
    font-size: 14px;
}

.tt-value {
    margin-top: 0.25rem;
    letter-spacing: 0.2px;
    line-height: 100%;
    font-size: 24px;
    font-weight: 700;
}



.tooltip {
    width: 100%;
    padding-top: 1rem;
    font-family: 'Barlow', sans-serif;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #1e3791;
}

.link:hover {
    text-decoration: underline;
}

.charts-section {
    justify-content: space-around;
    margin-top: 20px;
    height: 860px;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.charts-section  #mapChart {
    overflow: hidden;
    position: relative;
}

#mapChartBerlin {
    overflow: hidden;
    position: relative;
}

.charts-section  #beeChart {
    position: relative;
    /* border: 2px solid orange; */
}

#beeChartBerlin {
    position: relative;
}

.chart-wrapper {
    display: flex;
    flex-direction: column;
}

.chart-wrapper:first-child {
    padding-right: 80px;
}

.chart__h2 {
    text-align: left;
    font-style: normal;
    font-family: 'ClanOT-Medium', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: block;
    max-width: 700px;
    margin-bottom: 2rem;
    border-bottom: #D8D8D8 1px solid;
    padding-bottom: 10px;
}

.chart-subline {
    /* border-top: #D8D8D8 1px solid; */
    border-bottom: #D8D8D8 1px solid;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.chart-subline span {
    font-size: 14px;
    letter-spacing: 0.1px;
    font-family: 'Barlow', sans-serif;
    color: grey;
}

div.chart-subline:first-child {
    width: 60%;
}

div.charts-section div.chart-wrapper h2 {
    margin: 0;
}

.chart-legend__h3 {
    margin: 0;
    text-align: left;
    font-style: normal;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: block;
    max-width: 700px;
}

.chart-legend__subline {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
}

.chart-legend__unis {
    margin-top: 5px;
    display: flex;
}

.chart-legend__unis--oval {
    height: 6px;
    width: 6px;
    background: #D8D8D8;
    border-radius: 100px;
    margin-top: 6px;
    margin-right: 7px;
}

.container-unis {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    max-width: 700px;
}

.table-items-berlin {
    border-top: 2px dotted rgb(85, 85, 85);
}

.table-item {
    position: relative;
    max-height: 300px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #D8D8D8;
}

.table-item:hover {
    background: #EEEDED;
    transition: background .15s;
}

.table-item:hover .td-content .td-headline {
    color:#3291D0;
    transition: color .15s;
}

.table-item:last-child {
    border-bottom: 0px solid #D8D8D8;
}

.table-legend {
    border-bottom: 1px solid #D8D8D8;
    flex-direction: row;
    margin-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 50px;
    position: relative;
}

button:hover {
    background: #3291D0 !important;
}

.table-legend span {
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: 'Barlow', sans-serif;
    color: grey;
}

.legend-value {
    position: absolute;
    right: 10px;
}

#legend-bars {
    position: absolute;
    margin-top: 20px;
}

#legend-berlin-bars {
    margin-top: 20px;
}

.td-headline {
    max-width: 75%;
}

.td-subline {
    display: none;
    font-size: 14px;
    margin-top: 1rem;
}

.td-value {
    position: absolute;
    right: 10px;
    top: 16px;
}

.td-index {
    width: 29px;
    height: 29px;
    text-align: center;
    position: absolute;
    top: 11px;
    top: 16px;
}

.td-content {
    padding-top: 1rem;
    padding-left: 50px;
}

.table-item.active .td-subline {
    display: flex;
    flex-direction: row;
}

.table-col {
    margin-right: 3rem;
}

.btn-group-wrapper {
    display: flex;
    justify-content: space-between;
}

.buttons {
    margin-top: 2rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button > span {
    font-size: 12px;
}

.button {
    font-size: 12px;
}

.tile-analysis-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
    justify-content: space-between;
}

.tile-analysis {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    background: white;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 700px;
    border: rgb(230,230,230) 1px solid;
}

.icon {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    margin-top: 7px;
    margin-left: 5px;
}

.tile-analysis:hover {
    border: #1e3791 1px solid;
}

.tile-analysis--last:hover {
    border: #1e3791 1px solid;
}

.tile-analysis--last {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    background: white;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    width: 700px;
    max-width: 700px;
    border: rgb(230,230,230) 1px solid;
}

.tile-analysis--last > div {
    max-width: 500px;
}

.tile-analysis--last > div > .tile-analysis-wrapper--last > .tile-analysis--part {
    width: 219px;
}

.tile-analysis--last > div  {
    margin-top: 20px;
}

.tile-analysis-wrapper--last {
    flex-direction: row;
    display: flex;
}

.tile-analysis--last {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    background: white;
    flex-direction: row;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    border: rgb(230,230,230) 1px solid;
}

.tile-analysis--students {
    color: grey;
}

.tile-analysis--sub {
    color: grey;
}

.tile-analysis--content {
    display: flex;
    flex-direction: column;
}

.tile-analysis--count {
    color: #1e3791;
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
}

.count-wrapper {
    margin-top: 10px;
}

.tile-analysis--part {
    width: 270px;
    display: flex;
    flex-wrap: wrap;
}

.buttons.grouped .button:nth-child(2) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-left: -2px;
}

.buttons.grouped .button:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; 
}

.buttons.grouped .button:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -2px;
}

.button {
    margin: 0;
    padding: 10px 10px;
}

.buttons.grouped .button {
    margin: 0;
    padding: 10px 10px;
}

.overlay-boarding-bee, .overlay-boarding-map {
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 20px;
    border: rgb(230,230,230) 1px solid;
    border-radius: 5px;
    background: rgba(255,255,255,.9);
    /* animation: blink 2s infinite; */
}

.overlay-boarding-bee > img{
    margin-left: 73px;
    margin-bottom: 10px;
}

.overlay-boarding-map > img{
    margin-left: 73px;
    margin-bottom: 10px;
}

@keyframes blink {
    0%   { opacity: 0; }
    40%   { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
  }

.overlay-boarding-bee > .hint {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    width: 200px;
}

.overlay-boarding-map > .hint {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    width: 200px;
}

.charts-section > .chart-wrapper.first {
    margin-bottom: 100px;
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
    .charts-section {
        width: 95%;
    }

    .chart-wrapper {
        padding-right: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .charts-section {
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: 80%;
    }

    .chart-subline {
        flex-direction: column;
        min-height: 100px;
    }

    .chart-subline > span {
        padding-bottom: 10px;
    }

    .chart-wrapper {
        height: auto;
        max-width: 100%;
        align-self: center;
    }

    .chart-wrapper:first-child {
        padding-right: 0px;
    }
}

@media screen and (max-width: 800px) {
    .charts-section {
        flex-direction: column;
        height: auto;
        width: 90%;
    }

    #brushed-tooltip {
        height: auto;
    }

    .tile-analysis--last > div > span {
        display: inline-block;
        width: 200px;
    }

    .tile-analysis {
        flex-direction: column;
        width: 100%;
    }

    .tile-analysis--last {
        flex-direction: column;
        width: 100%;
    }

    .tile-analysis--part {
        margin-top: 20px;
    }

    .overlay-boarding-bee {
        left: 25%;
    }

    .overlay-boarding-map {
        left: 25%;
    }

    .btn-group-wrapper {
        flex-direction: column;
    }

    .tt-value {
        font-size: 18px;
    }

    .chart-subline {
        flex-direction: column;
        min-height: 100px;
    }

    .chart-subline > span {
        padding-bottom: 10px;
    }

    .chart-wrapper {
        height: auto;
    }

    .table-item.active .td-subline {
        flex-direction: column;
    }

    .table-col {
        margin-bottom: 1rem;
        margin-right: 0rem;
    }

}

@media screen and (max-width: 600px) {
    .chart-wrapper {
        padding-right: 0px;
    }

    .tile-analysis-wrapper--last {
        flex-direction: column;
    }
}
