.project {
    &-header {
        border: 2px solid palevioletred;

        &__hero {
            border: 2px solid red;
            position: relative;

            &-image {
                border: 2px solid gray;
                display: block;
                max-width: 100%;
                width: 100%;
            }

            .link--button {
                bottom: 0;
                left: 0;
                position: absolute;
            }
        }

        &__title {
            border: 2px solid green;
            display: flex;
            font-size: $font-size-xl;

            &--main {
                border: 2px solid yellow;
                flex: 1;
                font-weight: bold;
            }
            &--sub {
                border: 2px solid orange;
                flex: 1;
            }
        }
        &__meta {
            border: 2px solid green;
            display: flex;

            &-column {
                border: 2px solid orange;
                display: flex;
                flex: 1;
                flex-direction: column;

                &__header {
                    font-weight: bold;
                }
                &__item {
                    align-self: flex-start;
                }

                &--researchers,
                &--materials {
                    .project-header__meta-column__item {
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
    }
}
