.project {
    &-header {
        border: 2px solid palevioletred;

        &__hero {
            border: 2px solid red;
            position: relative;

            &-image {
                border: 2px solid gray;
                display: block;
                max-width: 100%;
                width: 100%;
            }

            .link--button {
                bottom: 0;
                left: 0;
                position: absolute;
            }
        }

        &__title {
            border: 2px solid green;
            display: flex;
            font-size: $font-size-xl;

            &--main {
                border: 2px solid yellow;
                flex: 1;
                font-weight: bold;
            }
            &--sub {
                border: 2px solid orange;
                flex: 1;
            }
        }
        &__meta {
            border: 2px solid green;
            display: flex;

            &-column {
                border: 2px solid orange;
                display: flex;
                line-height: $line-height-list;
                flex: 1;
                flex-direction: column;

                &__header {
                    font-weight: bold;
                }
                &__item {
                    align-self: flex-start;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                &--researchers,
                &--materials {
                    .project-header__meta-column__item {
                        border: 2px solid red;
                        position: relative;
                        transition: color 0.5s;

                        &::after {
                            background-color: $gray;
                            bottom: 2px;
                            content: '';
                            height: 1px;
                            left: 0;
                            position: absolute;
                            transform: scaleX(1);
                            transform-origin: left;
                            transition: transform 0.5s;
                            width: 100%;
                        }

                        &:hover {
                            &::after {
                                transform: scaleX(0.85);
                            }
                        }
                    }
                }
            }
        }
    }

    &-text {
        a {
            line-height: $line-height-text;
            position: relative;
            padding-bottom: 3px;
            transition: color 0.5s;

            &::after {
                background-color: $gray;
                bottom: 0;
                content: '';
                height: 1px;
                left: 0;
                position: absolute;
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 0.5s;
                width: 100%;
            }

            &:hover {
                &::after {
                    transform: scaleX(0.85);
                }
            }
        }
    }

    &--publication {
        a {
            &::after {
                background-color: $color-publication;
            }
            &:hover {
                color: $color-publication;
            }
        }
        .project-header__meta-column__item {
            &::after {
                background-color: $color-publication;
            }
        }
    }
    &--prototype {
        a {
            &::after {
                background-color: $color-prototype;
            }
            &:hover {
                color: $color-prototype;
            }
        }
        .project-header__meta-column__item {
            &::after {
                background-color: $color-prototype;
            }
        }
    }
    &--workshop {
        a {
            &::after {
                background-color: $color-workshop;
            }
            &:hover {
                color: $color-workshop;
            }
        }
        .project-header__meta-column__item {
            &::after {
                background-color: $color-workshop;
            }
        }
    }
    &--dataset {
        a {
            &::after {
                background-color: $color-dataset;
            }
            &:hover {
                color: $color-dataset;
            }
        }
        .project-header__meta-column__item {
            &::after {
                background-color: $color-dataset;
            }
        }
    }
}
