.project {
    &-header {
        border: 2px solid palevioletred;

        &__hero {
            border: 2px solid red;
            position: relative;

            &-image {
                border: 2px solid gray;
                display: block;
                margin: 0 auto;
                max-height: 75vh;
                max-width: 100%;
                width: auto;
            }

            .link--button {
                bottom: 0;
                left: 0;
                position: absolute;
            }
        }

        &__title {
            border: 2px solid green;
            display: flex;
            flex-direction: row;

            &--main {
                border: 2px solid yellow;
                flex: 1;
                font-size: $font-size-xl;
                font-weight: bold;
            }
            &--sub {
                border: 2px solid orange;
                flex: 1;
                font-size: $font-size-ll;
            }
        }
        &__meta {
            border: 2px solid green;
            display: flex;

            &-column {
                border: 2px solid orange;
                display: flex;
                line-height: $line-height-list;
                flex: 1;
                flex-direction: column;

                &__header {
                    font-weight: bold;
                }
                &__item {
                    border: 2px solid red;
                    align-self: flex-start;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                a::after {
                    margin-bottom: 2px;
                }
            }
        }
    }

    &-text {
        &.columns {
            h3 {
                padding-right: $spacing-column--half;
                width: 50%;
            }
            p {
                column-count: 2;
                column-gap: $spacing-column;
            }
        }
    }

    &-columns {
        display: flex;
        flex-direction: row;

        img {
            align-self: flex-start;
            border: 2px solid green;
            max-height: 100%;
            max-width: 50%;
            padding: 0 $spacing-column--half 0 0;
        }

        div {
            border: 2px solid red;
            padding: 0 0 0 $spacing-column--half;
            width: 50%;
        }

        &.reversed {
            flex-direction: row-reverse;

            img {
                padding: 0 0 0 $spacing-column--half;
            }
            div {
                border: 2px solid red;
                padding: 0 $spacing-column--half 0 0;
                width: 50%;
            }
        }
    }

    &--publication {
        a:not(.link--button) {
            &::after {
                background-color: $color-publication;
            }
            &:hover {
                color: $color-publication;
            }
        }
        .project-header__meta-column__item {
            &::after {
                background-color: $color-publication;
            }
        }
    }
    &--prototype {
        a:not(.link--button) {
            &::after {
                background-color: $color-prototype;
            }
            &:hover {
                color: $color-prototype;
            }
        }
        .project-header__meta-column__item {
            &::after {
                background-color: $color-prototype;
            }
        }
    }
    &--workshop {
        a:not(.link--button) {
            &::after {
                background-color: $color-workshop;
            }
            &:hover {
                color: $color-workshop;
            }
        }
        .project-header__meta-column__item {
            &::after {
                background-color: $color-workshop;
            }
        }
    }
    &--dataset {
        a:not(.link--button) {
            &::after {
                background-color: $color-dataset;
            }
            &:hover {
                color: $color-dataset;
            }
        }
        .project-header__meta-column__item {
            &::after {
                background-color: $color-dataset;
            }
        }
    }

    a:not(.link--button) {
        line-height: $line-height-text;
        position: relative;
        padding-bottom: 3px;
        transition: color 0.5s;

        &::after {
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transform: scaleX(1);
            transform-origin: left;
            transition: transform 0.5s;
            width: 100%;
        }

        &:hover {
            &::after {
                transform: scaleX(0.85);
            }
        }
    }

    h1,
    h2,
    h3 {
        color: $black;
        font-family: 'plex-sans';
        text-transform: none;
    }

    h3 {
        font-size: $font-size-ll;
        font-weight: bold;
        margin: 0 0 $spacing-normal 0;
    }

    blockquote {
        border: 2px solid yellow;
        margin: 0;

        p {
            font-size: $font-size-ll;
            margin-bottom: $spacing-small;
        }
    }

    figure {
        border: 2px solid yellow;
        margin: 0;
        text-align: center;

        figcaption {
            margin-top: $spacing-small;
        }

        img {
            display: block;
            margin: 0 auto;
            max-height: 75vh;
            max-width: 100%;
        }
    }
}
