{% extends "layout/projects.html" %}
{% set pagename = "projects" %}

{% block header %}
    {{ title }} – {{ pagename }}
{% endblock %}

{% block main %}  
<section class="feed">
    <h2 class="feed-headline section-headline">Projects</h2>
    <ul class="grid feed-list">
        {% for project in projects %}
        <li class="feed-list__project">
            <a href="/en/projects/{{ project.title | lower | replace(" ", "-") }}">
                <img class="feed-list__project-image" src="{{ project.thumbnail }}" alt="{{ project.title }}">
                <div class="feed-list__project-date">
                    {{ project.date }}
                </div>
                <div class="feed-list__project-title">
                    {{ project.title }}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
