{% extends "layout/projects.html" %}
{% set pagename = "projects" %}

{% block main %}  
<section class="feed">
    <h2 class="feed-headline section-headline">Projects</h2>
    <ul class="grid feed-list">
        {% for project in projects | sortProjectsByDate %}
        <li class="feed-list__project">
            <a href="/{{ language }}/projects/{{ project[language].title | slug }}">
                <img class="feed-list__project-image" src="{{ project[language].thumbnail }}" alt="{{ project[language].title }}">
                <div class="feed-list__project-date">
                    {{ project[language].date | date }}
                </div>
                <div class="feed-list__project-title">
                    {{ project[language].title }}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
