<div class="archival-banner">
  <div class="archival-banner__content">
    <p>
      <b>Liebe Besucher:innen,</b>
      die Website des Ideation & Prototyping Lab der Technologiestiftung wird
      nicht mehr aktualisiert, bleibt aber zu archivarischen Zwecken online.
      Unsere neueren Projekte findet ihr auf der Seite des CityLAB Berlin.
    </p>
    <div>
      <a
        href="https://www.citylab-berlin.org"
        class="link--button"
        style="margin-top: 0; display: inline-block; height: min-content"
        >Zum CityLAB Berlin</a
      >
    </div>
  </div>
</div>

<style>
  .archival-banner {
    padding: 1rem 30px;
    background-color: #dcc82d;
  }

  .archival-banner__content {
    max-width: 1020px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  @media screen and (min-width: 520px) {
    .archival-banner__content {
      grid-template-columns: 1fr auto;
    }
  }

  .archival-banner__content p {
    font-size: 14px;
  }
</style>
