<section class="feed project-feed">
    <!-- <div class="feed-title headline--uppercase">Lab Feed</div> -->
    <h2 class="feed-headline section-headline headline--bold">{%- if page.lang == "en" -%}
        From the lab
        {%- else -%}
        Aus dem Lab
      {%- endif -%}</h2>

    <div class="timeline timeline__wrapper" id="timeline"></div>

    <ul class="grid feed-list">
      {% assign count = -1 %}
        {%- for pg in include.sorted_pages -%}
        {%- if pg.layout == "project" and pg.visible == true and pg.lang == page.lang %}
        {% assign count = count | plus: 1 %}
      {%- if count == 4 and page.layout == "landing" -%}
        {%- break -%}
      {%- endif -%}
        <li class="feed-list__project {{  pg.type }}">
            <a href="{{pg.url}}">
                <div class="project-image__outer">
                    <div class="project-image" style="background-image: url({{ pg.thumbnail }});"></div>
                </div>
                <div class="feed-list__project-date">
                {%- comment -%}
                    <!--
                      https://shopify.github.io/liquid/filters/date/
                      https://ruby-doc.org/stdlib-2.6.1/libdoc/time/rdoc/Time.html#method-c-parse
                     -->
                     <!-- {%- if page.lang == "de" -%}
                       {{ pg.date | date: "%d.%m.%Y" }}
                       {%- else -%}
                       {{ pg.date | date: "%Y-%m-%d" }}
                     {%- endif -%} -->
                    {%- endcomment -%}
                     {%- include date-format.html element=pg -%}
                </div>
                <div class="feed-list__project-title">
                    {{ pg.title }}
                </div>
            </a>
        </li>

        {%- endif -%}
        {%- endfor -%}
    </ul>

    <a class="link--button" href="/projects/{{page.lang}}">
      {%- if page.lang == "en" -%}
      All projects
      {%- else -%}
      Alle Projekte
    {%- endif -%}
    </a>

</section>
