<footer class="footer">

	<div class="flex-row footer-outer">
	<div class="footer-inner">
		<span class="footer-copy">© Technologiestiftung Berlin {{ site.time | date: '%Y' }}</span>
		<ul class="footer-list">
		<li class="footer-list__item"><a href="https://www.technologiestiftung-berlin.de/de/stiftung/kontakt-anfahrt/">{%- if page.lang == "de" -%}
			Kontakt
			{%- else -%}
			Contact
		{%- endif -%}</a></li>
		<li class="footer-list__item"><a href="https://www.technologiestiftung-berlin.de/de/impressum/">{%- if page.lang == "de" -%}
			Impressum
			{%- else -%}
			Legal Note
		{%- endif -%}</a></li>
		<li class="footer-list__item"><a href="https://www.technologiestiftung-berlin.de/de/datenschutz/">{%- if page.lang == "de" -%}
			Datenschutz
			{%- else -%}
			Privacy
		{%- endif -%}</a></li>
		</ul>
	</div>
	</div>

	<div class="funding">
	<div class="funding-inner">

		<div class="col">
			<span class="copy-funding">
				{%- if page.lang == "de" -%}
				{{site.data.meta.projectbytext.de}}
				{%- else -%}
				{{site.data.meta.projectbytext.en}}
				{%- endif -%}
			</span>
			<div class="logo-outer">
				<a class="" href="https://www.technologiestiftung-berlin.de" style="margin-right: 1.5rem">
					<img src="../../assets/images/tsb.svg" alt="">
				</a>
			</div>
			</div>

		<div class="col">
			<span class="copy-funding">
				{%- if page.lang == "de" -%}
				{{site.data.meta.fundingtext.de}}
				{%- else -%}
				{{site.data.meta.fundingtext.en}}
				{%- endif -%}
			</span>


		<div class="logo-outer">

			<a class="" href="https://www.berlin.de" style="margin-right: 1.5rem">
				<img src="../../assets/images/berlin.svg" alt="">
			</a>

			<a style="transform: translateY(-5px);" href="https://www.ibb.de">
				<img src="../../assets/images/lbb.svg" alt="">
			</a>
		</div>

		

		</div>
	</div>

	</div>

</footer>
