<header class="project-header {{ page.colorMode }}">
    <div class="project-header__hero">
        <div class="gradient-overlay"></div>
        <img class="project-header__hero-image" src="{{ page.heroImage }}" alt="{{ page.title }}"/>

        <div class="project-header__title">
            {%- if page.externalUrl -%}
                <a class="link--button" href="{{ page.externalUrl }}">Launch Project</a>
            {%- endif -%}

            <div class="flex-row">
                <h1 class="project-header__title--main headline--bold">
                    {{ page.title }}
                </h1>
                <h2 class="project-header__title--sub">
                    {{ page.subtitle }}
                </h2>
            </div>

        </div>
    </div>

    <div class="project-header__meta">
        <div class="project-header__meta-column project-header__meta-column--researchers">
            <div class="project-header__meta-column__header">Researchers</div>
            {%- comment -%}
            <!--
               Matching the id added to the frontend
               wikth the team members
              -->
            {%- endcomment -%}
            {%- if page.lang =='en' -%}
              {%- assign team = site.team_en -%}
              {%- else -%}
              {%- assign team = site.team_de -%}
              {%- endif -%}
            {%- for author in page.authors -%}
            {%- for member in team -%}
            {%- if member.uid == author -%}
                <a href="{{ site.url }}{{member.url}}" class="project-header__meta-column__item">{{member.name}}</a>
                {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
        </div>
        <div class="project-header__meta-column project-header__meta-column--status">
            <div class="project-header__meta-column__header">
                Current Status
            </div>
            <div class="project-header__meta-column__item">
                {{ page.status }}
            </div>
        </div>
        <div class="project-header__meta-column project-header__meta-column--date">
            <div class="project-header__meta-column__header">Date</div>
            <div class="project-header__meta-column__item">
                {{ page.date }}
            </div>
        </div>
        {%- if page.materialsIncluded  -%}
        <!-- there are no materials -->
        <div class="project-header__meta-column project-header__meta-column--materials">
          <div class="project-header__meta-column__header">Materials</div>
          {%- for materialIncluded in page.materialsIncluded -%}
          <a href="{{ materialIncluded.link }}" class="project-header__meta-column__item">
            {{ materialIncluded.name }}
          </a>
          {%- endfor -%}
        </div>
        {%- endif -%}
    </div>
</header>
