<section class="feed">
    <!-- <div class="feed-title headline--uppercase">Lab Feed</div> -->
    <h2 class="feed-headline section-headline headline--bold">From the lab</h2>

    <ul class="grid feed-list">
        {% for project in projects | sortProjectsByDate %}
        {% set loopIndex = loop.index0 %}
        {% if (loopIndex < 4) and project[language].visible %}

        <li class="feed-list__project">
            <a href="./projects/{{ project[language].title | slug }}">
                <img class="feed-list__project-image" src="{{ project[language].thumbnail }}" alt="{{ project[language].title }}">
                <div class="feed-list__project-date">
                    {{ project[language].date | date }}
                </div>
                <div class="feed-list__project-title">
                    {{ project[language].title }}
                </div>
            </a>
        </li>

        {% endif %}
        {% endfor %}
    </ul>
</section>
