<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ pagename | capitalize }} | {{ title }}</title>
        {# Favicon #}
        {% include "partials/favicon-links.html" %}
        <link rel="stylesheet" type="text/css" href="{{ siteUrl }}/styles/index.css" />{# Favicon #}
    </head>
    <body>
        {# Navigation #}
        {% include "partials/navigation.html" %}

        <main class="loading">
        {# Page specific content #}
        {% block main %} {% endblock %}
        </main>

        {# Footer #}
        {% include "partials/footer.html" %}

        <script src="{{ siteUrl }}/js/index.js"></script>
    </body>
</html>
