.featured {
    border: 2px solid orange;
    position: relative;

    &-title {
        border: 2px solid yellow;
    }
    &-list {
        border: 2px solid yellow;
        &__project {
            border: 2px solid yellow;

            &-link {
            }

            &-image {
                display: block;
                left: 50%;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                top: 50%;
                transform: translate(-50%, 0);
                transition: opacity 0.5s, transform 0.5s;
                width: 100%;
                z-index: -1;
            }

            &:hover {
                .featured-list__project-image {
                    opacity: 1;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
