* {
    box-sizing: border-box;
}

body {
    border: 2px solid red;
    box-sizing: border-box;
    font-family: 'plex-sans';
    font-size: $font-size-m;
    font-weight: normal;
    letter-spacing: 0.005em;
    line-height: $line-height-text;
    min-height: 100vh;
    position: relative;

    h1,
    h2,
    h3,
    p {
        font-size: $font-size-m;
        font-weight: normal;
        margin: 0;
    }

    h1,
    h2,
    h3 {
        line-height: $line-height-title;
    }

    p {
        line-height: $line-height-text;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
        }
    }

    a {
        color: $black;
        text-decoration: none;
    }

    textarea,
    select,
    input,
    button {
        outline: none;
    }

    main {
        margin-bottom: $spacing-xxl;
        opacity: 1;
        overflow: visible;
        transition: opacity $time-l;
        overflow: hidden;

        &.loading {
            opacity: 0;
        }
    }
}
