/*
 * Colors
 */

// Basic
$white: #ffffff;
$black: #000000;
$gray: #adadad;
$light-gray: #e8e8e8;
$light-gray--lighter: rgba(#e8e8e8, 0.3);

// Categories
$color-publication: #2d91d2;
$color-prototype: #41b496;
$color-workshop: #dcc82d;
$color-dataset: #e60032;

/*
 * Font styling
 */

// Font sizes
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-ll: 24px;
$font-size-xl: 32px;

// Line Heights
$line-height-title: 1.5em;
$line-height-text: 1.8em;
$line-height-code: 1.4em;
$line-height-list: 2em;

/*
 * Spacing
 */

// Vertical spacing
$spacing-xs: 5px;
$spacing-s: 15px;
$spacing-m: 30px;
$spacing-l: 45px;
$spacing-xl: 60px;
$spacing-xxl: 100px;

// Horizontal page layout
$spacing-page-xs: 2.5vw;
$spacing-page-s: 5vw;
$spacing-page-m: 15vw;
$spacing-page-l: 22.5vw;
$spacing-page-xl: 35vw;

// Column spacing
$spacing-column: 50px;
$spacing-column--half: ($spacing-column / 2);
$spacing-column--double: ($spacing-column * 2);

/*
 * Time variables
 */

// Transitions
$time-s: 0.25s;
$time-m: 0.5s;
$time-l: 0.75s;
